# 1) Imports

In [2]:
import pandas as pd
import numpy as np
import unidecode
import re

# 2) Coleta dos dados

## 2.1) Municípios potenciais

In [174]:
top_muns = pd.read_csv("../Dados/Tabela_final/municipios_potenciais.csv").drop(columns=['Unnamed: 0'])

## 2.2) Dados de produção agrícola

### 2.2.1) Extração e transformação

Os arquivos .csv dos dados de produção agrícola municipal apresentavam uma estrutura conflitante de forma que tiveram que ser editados manualmente para depois serem coletados e pré-processados. O código a seguir realiza a coleta e pré-processamento dos arquivos editados e retorna a versão final que será utilizada no projeto.

Para facilitar o andamento do trabalho, a versão final foi exportada para o formato .csv e encaminhada por email.

In [164]:
def limpar_nome(nome):
    nome_sem_acentos = unidecode.unidecode(nome)  # Remove acentos
    nome_sem_codigo_estado = re.sub(r'\(\w+\)', '', nome_sem_acentos)  # Remove a sequência "(XX)"
    return nome_sem_codigo_estado.upper()  # Converte para maiúsculas

def limpar_dataframe(df, valor):
    
    municipios = df['Brasil e Município'].apply(limpar_nome)
    new_df = pd.DataFrame()
    for i in range(0,3):
        new_year_df = df.iloc[:, 1 + 37 * i : 37 * (i + 1)]
        new_year_df.columns = [column.rstrip('.1').rstrip('.2') for column in new_year_df.columns]
        new_year_df.insert(0, 'MUNICIPIO', list(municipios))
        new_df = pd.concat([new_df, new_year_df], ignore_index = True)
    new_df = new_df.replace(['-', '...'], 0)
    new_df = new_df.fillna(0)
    new_df = new_df.melt(id_vars=['MUNICIPIO'], var_name='PRODUTO', value_name=valor)
    new_df[valor] = new_df[valor].astype('int64')
    new_df = new_df[['MUNICIPIO', 'PRODUTO', valor]].groupby(['MUNICIPIO', 'PRODUTO']).mean().reset_index()
    new_df['PRODUTO'] = new_df['PRODUTO'].apply(limpar_nome)

    return new_df

area_colhida = pd.read_csv("../Dados/PAM/pam_area_colhida.csv",sep=';')
area_plantada = pd.read_csv("../Dados/PAM/pam_area_plantada.csv",sep=';')
rend_medio = pd.read_csv("../Dados/PAM/pam_rendimento_medio.csv",sep=';')
valor_producao = pd.read_csv("../Dados/PAM/pam_valor_producao.csv",sep=';')

area_colhida = limpar_dataframe(area_colhida, 'AREA_COLHIDA')
area_plantada = limpar_dataframe(area_plantada, 'AREA_PLANTADA')
rend_medio = limpar_dataframe(rend_medio, 'REND_MEDIO')
valor_producao = limpar_dataframe(valor_producao, 'VALOR_PROD')

agro = area_plantada.merge(area_colhida, on = ['MUNICIPIO', 'PRODUTO'], how = 'inner')
agro = agro.merge(rend_medio, on = ['MUNICIPIO', 'PRODUTO'], how = 'inner')
agro = agro.merge(valor_producao, on = ['MUNICIPIO', 'PRODUTO'], how = 'inner')
agro.to_csv("../Dados/Tabela_final/dados_producao_agricola.csv")
agro

,MUNICIPIO,PRODUTO,AREA_PLANTADA,AREA_COLHIDA,REND_MEDIO,VALOR_PROD
0,ABAIARA,ALFAFA FENADA,0.000000,0.000000,0.000000,0.000000
1,ABAIARA,ALGODAO ARBOREO (EM CAROCO),0.000000,0.000000,0.000000,0.000000
2,ABAIARA,ALGODAO HERBACEO (EM CAROCO),26.666667,26.666667,2796.333333,214.666667
3,ABAIARA,AMENDOIM (EM CASCA),15.000000,15.000000,978.000000,60.666667
4,ABAIARA,BANANA,26.666667,26.666667,18363.333333,786.333333
...,...,...,...,...,...,...
51907,ZABELE,TRIGO (EM GRAO),0.000000,0.000000,0.000000,0.000000
51908,ZABELE,TRITICALE (EM GRAO),0.000000,0.000000,0.000000,0.000000
51909,ZABELE,TUNGUE (FRUTO SECO),0.000000,0.000000,0.000000,0.000000
51910,ZABELE,URUCUM,0.000000,0.000000,0.000000,0.000000
51911,ZABELE,UVA,0.000000,0.000000,0.000000,0.000000

### 2.2.1) Carregamento

In [5]:
agro = pd.read_csv("../Dados/Tabela_final/dados_producao_agricola.csv", index_col=0)

In [6]:
agro

,MUNICIPIO,PRODUTO,AREA_PLANTADA,AREA_COLHIDA,REND_MEDIO,VALOR_PROD
2,ABAIARA,ALGODAO HERBACEO (EM CAROCO),26.666667,26.666667,2796.333333,214.666667
3,ABAIARA,AMENDOIM (EM CASCA),15.000000,15.000000,978.000000,60.666667
4,ABAIARA,BANANA,26.666667,26.666667,18363.333333,786.333333
12,ABAIARA,CASTANHA DE CAJU,7.000000,7.000000,333.666667,7.333333
14,ABAIARA,FAVA (EM GRAO),37.666667,37.666667,450.000000,86.666667
...,...,...,...,...,...,...
51870,XIQUE-XIQUE,TOMATE,1.000000,1.000000,9333.333333,24.666667
51891,ZABELE,FEIJAO (EM GRAO),193.333333,95.000000,219.000000,87.666667
51898,ZABELE,MANGA,4.000000,4.000000,6666.666667,31.333333
51901,ZABELE,MILHO (EM GRAO),193.333333,95.000000,429.666667,52.333333
51906,ZABELE,TOMATE,4.333333,4.333333,20000.000000,219.000000