In [42]:
import pandas as pd
import numpy as np
from geopy.distance import geodesic

In [43]:
exp_2022 = pd.read_csv("..\Dados\COMEX\EXP_2022_MUN.csv", delimiter=";")
agropecuaria = pd.read_excel(r"..\Dados\COMEX\sh4_agropecuaria.xlsx")
tabela_final = pd.read_csv(r"..\Dados\Tabela_final\tabela_final.csv")
municipio_escolhidos = pd.read_csv(r"..\Dados\Tabela_final\municipios_potenciais.csv", index_col=0)

In [44]:
exp_2022

,CO_ANO,CO_MES,SH4,CO_PAIS,SG_UF_MUN,CO_MUN,KG_LIQUIDO,VL_FOB
0,2022,4,9403,845,PR,4101002,53482,47615
1,2022,10,8501,386,SC,4208906,220899,1348091
2,2022,9,1902,580,ES,3205309,564,2264
3,2022,1,6206,63,SC,4216602,85,6642
4,2022,2,8501,249,SC,4208906,2942192,12155328
...,...,...,...,...,...,...,...,...
1087126,2022,9,2201,445,SP,3448500,1260,328
1087127,2022,7,9603,586,RS,4304804,24,350
1087128,2022,9,8527,239,PR,4120804,234,34731
1087129,2022,1,203,767,PA,1506807,30,226
1087130,2022,1,8527,63,SP,3452403,7,2246

In [45]:
exp_2022 = exp_2022.merge(agropecuaria, how="inner", left_on="SH4", right_on="Código SH4")
exp_2022.drop(columns=["Código SH4"], inplace=True)

In [46]:
exp_2022

,CO_ANO,CO_MES,SH4,CO_PAIS,SG_UF_MUN,CO_MUN,KG_LIQUIDO,VL_FOB,Descrição do produto exportado,Denominação nesse estudo
0,2022,9,5201,455,MT,5107875,1114253,2071800,"Algodão, não cardado nem penteado.",Algodão
1,2022,2,5201,827,MT,5107875,5938815,10428103,"Algodão, não cardado nem penteado.",Algodão
2,2022,2,5201,365,MT,5103502,1047269,1719167,"Algodão, não cardado nem penteado.",Algodão
3,2022,11,5201,858,MT,5107875,4691205,8303458,"Algodão, não cardado nem penteado.",Algodão
4,2022,3,5201,160,MA,2101400,170943,367305,"Algodão, não cardado nem penteado.",Algodão
...,...,...,...,...,...,...,...,...,...,...
121579,2022,8,4812,580,SP,3452205,2,178,"Blocos e chapas, filtrantes, de pasta de papel.",Papel
121580,2022,11,4812,493,SP,3430706,460,3989,"Blocos e chapas, filtrantes, de pasta de papel.",Papel
121581,2022,11,4812,850,SP,3443402,13,4616,"Blocos e chapas, filtrantes, de pasta de papel.",Papel
121582,2022,12,4812,43,ES,3205309,750,8000,"Blocos e chapas, filtrantes, de pasta de papel.",Papel
121583,2022,10,4812,586,PR,4108304,126,4765,"Blocos e chapas, filtrantes, de pasta de papel.",Papel

In [47]:
exp_2022 = exp_2022.groupby(["CO_MUN", "Denominação nesse estudo"]).agg({"VL_FOB":"mean", "KG_LIQUIDO":"mean"}).reset_index()

In [48]:
exp_2022_sertao = exp_2022[exp_2022["CO_MUN"].isin(tabela_final["IBGE7"])]

exp_2022_sertao.set_index("CO_MUN", inplace=True)
municipio_escolhidos.set_index("IBGE7", inplace=True)
tabela_final.set_index("IBGE7", inplace=True)

In [32]:
exp_2022.head()

    CO_MUN    Denominação nesse estudo        VL_FOB    KG_LIQUIDO
0  1100023         Milho/Soja em grãos  4.874950e+05  7.500000e+05
1  1100023               Soja em grãos  4.874950e+05  7.500000e+05
2  1100049               Café em grãos  5.645500e+04  2.426767e+04
3  1100049  Carne de Frango e Miudezas  1.206043e+05  7.466000e+04
4  1100049              Milho em grãos  2.113112e+06  9.990010e+06

In [31]:
municipio_escolhidos.head()

,UF,NOME,LATITUDE,LONGITUDE,DIST_EF_PUB,DIST_EM_PUB,IDEB_AI,IDEB_AF,DOCSUP_EF_PUB,DOCSUP_EM_PUB,...,T_ANALF18A24,T_ANALF18M,T_ANALF25A29,T_ANALF25M,QUAL_MED_AGUA,DIST_CORPO_AGUA,TRANSPORT_COST,TOT_ESC_POR_POP,TOT_MAT_POR_POP,CLUSTER
IBGE7,,,,,,,,,,,,,,,,,,,,,
2916500,BA,ITAPICURU,-11.30880,-38.2262,39.498593,50.529793,4.029523,2.864316,24.86,26.16,...,15.55,41.92,26.12,48.52,65.417601,3.461062,23766.055025,0.000752,0.221999,2
2705002,AL,MATA GRANDE,-9.11824,-37.7323,37.369491,43.018642,4.248078,3.359025,24.36,37.06,...,15.72,42.12,29.64,49.44,74.933851,61.185634,24784.146031,0.001785,0.217440,2
2921500,BA,MONTE SANTO,-10.43740,-39.3321,41.109244,48.624520,3.960775,3.141736,21.18,31.52,...,9.95,38.64,20.57,45.32,71.624686,5.415886,24661.745267,0.001481,0.251471,2
2607505,PE,ITAÍBA,-8.94569,-37.4173,32.710603,40.005640,4.135429,3.314976,38.30,38.98,...,13.54,42.95,26.51,50.72,66.893107,57.996168,24766.124221,0.001292,0.253649,2
2615805,PE,TUPANATINGA,-8.74798,-37.3445,30.184538,37.498476,5.175386,3.625949,31.38,50.88,...,13.65,41.81,24.21,49.72,66.097240,44.602110,24850.504059,0.001053,0.207216,2

In [75]:
def distancia_circular(df_escolhidos, df_municipios_sertao, threhold):
    dicionario_distancias = {}
    lista_distancias = []
    for municipio_escolhido, row in df_escolhidos[["LATITUDE", "LONGITUDE"]].iterrows():
        for municipio_qualquer, row2 in df_municipios_sertao[["LATITUDE", "LONGITUDE"]].iterrows():
            if municipio_escolhido != municipio_qualquer:
                distancia = geodesic(row.values, row2.values).kilometers
                if distancia <= threhold:
                    lista_distancias.append((municipio_qualquer, distancia))
    
        dicionario_distancias[df_escolhidos.loc[municipio_escolhido, "NOME"]] = lista_distancias
        lista_distancias = []

    return dicionario_distancias

In [77]:
distancias_municipios_escolhidos = distancia_circular(municipio_escolhidos, tabela_final, 50)

In [81]:
distancias_municipios_escolhidos

{'ITAPICURU': [(2907905, 39.14188507636838),
  (2909604, 23.27705027987044),
  (2922904, 29.69824588083892),
  (2923100, 13.005936550529988),
  (2926509, 36.578826160540316),
  (2807402, 28.573106808676275)],
 'MATA GRANDE': [(2701605, 14.90588369308685),
  (2702405, 41.58842418772786),
  (2703304, 12.086025672069255),
  (2704609, 43.55828891872997),
  (2705804, 43.9523160534112),
  (2706109, 41.648070520229396),
  (2706422, 33.03213021230852),
  (2708956, 49.22728937071549),
  (2607000, 26.447043603248208),
  (2607505, 39.54369978105547),
  (2609154, 20.271648554067216),
  (2614808, 46.01428721830516)],
 'MONTE SANTO': [(2906808, 30.784209870479184),
  (2910701, 35.545819229170554),
  (2922656, 43.56109186028162),
  (2925907, 36.97699954556055)],
 'ITAÍBA': [(2701605, 27.529036722730993),
  (2703304, 48.01762217634919),
  (2704609, 32.29300068158176),
  (2705002, 39.54369978105547),
  (2706109, 24.53129644730895),
  (2707206, 42.424593143362245),
  (2600500, 37.2181936423022),
  (2602803, 45.81335707542199),
  (2607000, 46.20268599950714),
  (2609154, 23.62959947822041),
  (2615805, 23.287139718342814)],
 'TUPANATINGA': [(2701605, 49.55906499045956),
  (2706109, 45.457993126391884),
  (2600500, 47.0089991114804),
  (2601201, 48.49171558864073),
  (2602803, 24.726331584298837),
  (2606606, 45.677531799701725),
  (2607505, 23.287139718342814),
  (2609154, 39.634378076119454)],
 'CAETÉS': [(2600609, 38.52816644803116),
  (2601003, 38.77380641659578),
  (2602100, 43.49667754453862),
  (2602407, 28.323763625191074),
  (2603306, 32.39163515313513),
  (2603702, 48.36822378376093),
  (2603801, 5.112468958659709),
  (2606002, 18.241221313094933),
  (2606507, 38.24211484819741),
  (2608255, 17.646133478680706),
  (2608305, 24.85209428925604),
  (2608602, 42.45086422026182),
  (2608800, 35.42547981387468),
  (2610103, 41.93117073105242),
  (2610301, 15.62152284159907),
  (2610806, 46.62808158540788),
  (2610905, 47.35867433916883),
  (2612307, 22.378715310941523),
  (2612406, 46.80297386412754),
  (2613008, 34.38780007908266),
  (2613206, 30.64369681702037),
  (2615102, 30.51594473523407),
  (2616001, 35.181331576689615)],
 'CRAÍBAS': [(2700300, 19.25730156375308),
  (2700706, 40.35934804376296),
  (2701209, 34.12978387997513),
  (2702009, 20.40186704278552),
  (2702504, 44.18836251336685),
  (2702553, 25.10402633678236),
  (2702900, 30.220850365252907),
  (2703106, 17.032413166585485),
  (2703403, 48.10449769788674),
  (2703700, 26.246490207547797),
  (2704104, 23.995670900823516),
  (2704401, 26.261440770836735),
  (2705309, 35.519563925361695),
  (2706000, 47.98076281820381),
  (2706307, 27.863688007937103),
  (2707602, 46.62349126105493),
  (2709202, 46.18377223077374)],
 'ÁGUAS BELAS': [(2701209, 35.1751518192418),
  (2701803, 49.89668560741415),
  (2702504, 30.374544842211478),
  (2704401, 48.49610060867177),
  (2704609, 28.49029966099276),
  (2705309, 35.60576952227367),
  (2706000, 45.86102671956248),
  (2706109, 26.14592941122474),
  (2707206, 28.36804669656932),
  (2708006, 31.76207916617762),
  (2602100, 48.44768055492268),
  (2606507, 30.856784472242477),
  (2607505, 37.2181936423022),
  (2612307, 49.8789314135888),
  (2615805, 47.0089991114804)],
 'POÇO REDONDO': [(2700904, 44.60913128617323),
  (2701803, 48.90477119092968),
  (2705804, 37.1443561545718),
  (2706208, 40.470812256540725),
  (2706406, 27.637315428275922),
  (2707107, 21.710506464153635),
  (2708402, 42.90360076942461),
  (2708956, 44.69073606582031),
  (2924207, 32.376815330878884),
  (2927606, 48.70227045506574),
  (2801207, 21.116565279147732),
  (2804201, 27.699140606950685),
  (2805604, 45.43779978638132)],
 'TRAIPU': [(2700300, 44.328321541787034),
  (2700706, 34.76250562535066),
  (2700904, 33.401800336453334),
  (2702355, 46.18377223077374),
  (2702900, 21.11773442276568),
  (2703403, 42.347756726233676),
  (2703700, 33.2251228616864),
  (2704104, 32.49037345939664),
  (2704401, 47.86914112103593),
  (2705408, 47.85630045256224),
  (2706208, 48.35464082397593),
  (2800100, 20.619488387956583),
  (2800209, 34.89393732209428),
  (2801108, 19.45069291013164),
  (2801603, 34.810591254485),
  (2801900, 47.25767939842631),
  (2802205, 47.22500088443815),
  (2802403, 8.814017165625657),
  (2802601, 35.96321487646007),
  (2803104, 20.937624126635573),
  (2804706, 14.006637923763765),
  (2805604, 30.816292556120487),
  (2805703, 33.02557312382906),
  (2807303, 30.260400838903664)],
 'ARACI': [(2903276, 25.84577705092445),
  (2903607, 35.386218156638876),
  (2908408, 43.72306868124661),
  (2928000, 46.22493935980645),
  (2929701, 49.58781851494198),
  (2930501, 37.27456189243574),
  (2931509, 17.777598634886516),
  (2931905, 44.58623380671776)],
 'GIRAU DO PONCIANO': [(2700300, 23.501276712346485),
  (2700706, 40.3997144952227),
  (2700904, 49.323643316205974),
  (2702009, 38.76953086438714),
  (2702355, 30.220850365252907),
  (2703106, 43.84845085830143),
  (2703403, 49.577452122462276),
  (2703700, 31.017827051061094),
  (2704104, 11.405506396465311),
  (2704401, 42.92385796530747),
  (2709202, 21.11773442276568),
  (2800100, 29.963313120507447),
  (2800209, 47.97962684170779),
  (2801108, 32.35133864296682),
  (2801603, 41.28084071485964),
  (2802403, 29.64658218035698),
  (2803104, 40.14474158877829),
  (2804706, 33.04366059970808),
  (2805604, 49.76561224954083),
  (2805703, 36.50026879917784),
  (2807303, 36.07779661112295)],
 'CANHOTINHO': [(2600807, 45.74536136762759),
  (2601003, 10.18873834902713),
  (2602407, 43.859556262819105),
  (2603108, 43.36672229975167),
  (2603207, 48.36822378376093),
  (2603306, 22.17196481879856),
  (2604700, 30.42450374497173),
  (2605004, 38.87550915939419),
  (2606002, 32.861745436161115),
  (2606705, 33.25178392651539),
  (2608255, 37.21780927756133),
  (2608305, 30.017944252394763),
  (2608404, 19.982258801799183),
  (2608602, 39.747049892476504),
  (2608701, 40.22539773564404),
  (2608800, 28.171105096126727),
  (2610103, 20.342653783671697),
  (2610202, 31.35588407683164),
  (2613008, 47.414935006555396),
  (2613206, 18.413374376686196)],
 'OLINDINA': [(2907905, 33.613491078511124),
  (2909604, 26.689204183752846),
  (2913705, 47.74638654982151),
  (2916500, 13.005936550529988),
  (2922904, 20.791220188591723),
  (2926509, 35.30681731762854),
  (2929701, 38.77286369908414),
  (2807402, 41.454446218640975)],
 'BREJO DA MADRE DE DEUS': [(2501708, 44.987208156078076),
  (2504074, 49.17706595785956),
  (2601706, 20.915935624505916),
  (2603108, 40.11983053237793),
  (2604106, 46.98026147625629),
  (2608008, 23.240870861557095),
  (2610905, 42.47738223320679),
  (2611200, 37.372767690498186),
  (2612406, 31.80885696049736),
  (2612505, 28.95911638517804),
  (2613008, 42.45546419004873),
  (2613107, 22.934717583655157),
  (2614709, 19.42192115077215),
  (2615003, 46.17788535715085),
  (2615409, 37.54336158231969)],
 'BOM CONSELHO': [(2701209, 42.24269585543737),
  (2702553, 26.000674663506793),
  (2703106, 41.10306823581139),
  (2705309, 25.67293597524362),
  (2706307, 26.794510401874128),
  (2707602, 29.055282265886593),
  (2600500, 48.44768055492268),
  (2602407, 20.323450659701916),
  (2603207, 43.49667754453862),
  (2603801, 48.48720231192584),
  (2604700, 40.06543024314805),
  (2606002, 37.92361791706518),
  (2606507, 22.633531056501983),
  (2608602, 25.442708820320146),
  (2610103, 43.42536537082532),
  (2610301, 27.905318759998377),
  (2612307, 21.784197773600454),
  (2613206, 47.89869368158876),
  (2615102, 14.053382023465327)],
 'IGACI': [(2700300, 24.170000835608406),
  (2701209, 41.69099954026649),
  (2702009, 12.07239096232828),
  (2702355, 17.032413166585485),
  (2702553, 21.417515490962117),
  (2702900, 43.84845085830143),
  (2703700, 42.618032419741056),
  (2704104, 34.59487594474609),
  (2704401, 38.96324744893011),
  (2705309, 35.67254092670039),
  (2706307, 14.607767321654357),
  (2707602, 30.33218655937215),
  (2602100, 41.10306823581139),
  (2608602, 49.622750528579324)],
 'PEDRA': [(2514107, 47.324662471088736),
  (2515203, 38.8524742147199),
  (2517407, 49.64142037297809),
  (2600609, 18.055367323393845),
  (2601201, 15.769377258563305),
  (2602803, 27.843026177933684),
  (2603207, 46.62808158540788),
  (2603801, 43.03084118669202),
  (2610905, 30.75465915002514),
  (2611200, 42.4823192800467),
  (2612406, 43.45379247746083),
  (2616001, 11.64524841101896)],
 'PORTO DA FOLHA': [(2700706, 31.49551226479047),
  (2700904, 10.3762654099522),
  (2701803, 48.8076744910375),
  (2702900, 49.76561224954083),
  (2703403, 32.1762594534379),
  (2703700, 41.597291316150304),
  (2705408, 34.78253976394094),
  (2705705, 41.987775585675735),
  (2706000, 44.94850205221822),
  (2706208, 27.3613050420937),
  (2706406, 25.92131577214601),
  (2708402, 41.11895318606227),
  (2709202, 30.816292556120487),
  (2800100, 45.275707911797674),
  (2800209, 49.72746316356542),
  (2801108, 41.246032101256056),
  (2801900, 49.41723646816121),
  (2802205, 38.343507031098504),
  (2802403, 22.502878228782578),
  (2802601, 35.37872958461089),
  (2803104, 30.25621125325574),
  (2804201, 32.732759657720045),
  (2804508, 36.37167699497957),
  (2804706, 30.217033831027983),
  (2805406, 45.43779978638132)],
 'ALAGOA GRANDE': [(2500403, 15.384024315452262),
  (2500502, 14.097077270393092),
  (2500577, 46.27937383980047),
  (2500809, 34.82533398234621),
  (2500908, 27.700363953309154),
  (2501104, 11.926290864638618),
  (2501203, 34.3404125393516),
  (2501500, 32.26000085128745),
  (2501906, 34.77962303666851),
  (2502706, 26.259424231625037),
  (2503506, 47.61164511556081),
  (2503605, 49.622489299295),
  (2503803, 33.15632713248258),
  (2504009, 34.430497876811444),
  (2504157, 36.076527327399155),
  (2505204, 19.77119135808891),
  (2505709, 46.86471491142027),
  (2505808, 45.14295752689375),
  (2506004, 26.48174857317279),
  (2506103, 38.75000623966933),
  (2506301, 25.69929683935584),
  (2506400, 23.80017749628624),
  (2506806, 26.81966809081002),
  (2506905, 45.417377782995594),
  (2507200, 37.84025042822178),
  (2507606, 15.674251806674812),
  (2508208, 49.12737982961502),
  (2508307, 28.311636668137282),
  (2509206, 24.619378443708683),
  (2509339, 18.72139999089053),
  (2509404, 31.127312159711803),
  (2509503, 37.79981203844248),
  (2509800, 17.813468807650757),
  (2511608, 18.947301574011664),
  (2511707, 23.896628672225095),
  (2511806, 32.16385352370057),
  (2512002, 49.38873598249838),
  (2512408, 39.009721672613104),
  (2512507, 46.42662807054145),
  (2512705, 22.266057164277466),
  (2512754, 24.274559619512683),
  (2513109, 40.57414066651997),
  (2514453, 36.13407315717154),
  (2515104, 28.41364995078513),
  (2515609, 44.065770364506086),
  (2515807, 17.68882963479203),
  (2515906, 24.75775381379111),
  (2515930, 37.76763033957935),
  (2516003, 32.18291030313147)],
 'PIRANHAS': [(2701803, 44.439418040627565),
  (2702405, 37.431430322456556),
  (2703304, 44.032149566591684),
  (2705804, 15.55083890253172),
  (2706208, 46.222057470489474),
  (2706406, 37.060814426248015),
  (2706422, 48.56728114415432),
  (2708402, 41.6947202656954),
  (2708956, 37.02868132925741),
  (2924207, 45.44186734389957),
  (2927606, 41.6931980350602),
  (2801207, 4.748470610957248),
  (2804201, 49.32094543068344),
  (2805406, 21.710506464153635)],
 'SANTANA DO IPANEMA': [(2700706, 35.938172312350815),
  (2701209, 28.428145428440732),
  (2701605, 47.29479817227788),
  (2701803, 19.047102118189464),
  (2702504, 16.71981942224309),
  (2703403, 29.69429685903217),
  (2703700, 41.9412097334981),
  (2704401, 33.22554833668976),
  (2704609, 19.229042261915755),
  (2705309, 42.0542344320638),
  (2705408, 25.83644522330547),
  (2705705, 19.228041849101636),
  (2706000, 17.52051441100728),
  (2706109, 26.175927431513365),
  (2706208, 35.17657856634494),
  (2706406, 46.08089186311109),
  (2707206, 8.251061782382747),
  (2708402, 25.515751854969317),
  (2708956, 25.533012810738164),
  (2600500, 31.76207916617762)]}

In [139]:
def produtos_exportados_vizinhos(dicionario, expor):
    dicionario_exportacao = {}
    lista_exportacao = []
    contagem = 0
    
    for key, value in dicionario.items():
        for municipio_vizinho in value:
            if  expor.isin([municipio_vizinho[0]]).any().any():
                contagem += 1
                produto = expor[expor["CO_MUN"] == municipio_vizinho[0]]["Denominação nesse estudo"].values
                kg_liq = expor[expor["CO_MUN"] == municipio_vizinho[0]]["KG_LIQUIDO"].values
                valor_fb = expor[expor["CO_MUN"] == municipio_vizinho[0]]["VL_FOB"].values
                #cod_pais = expor.loc[municipio_vizinho, "VL_FOB"]
                
                lista_exportacao.append((municipio_vizinho[0], produto, kg_liq, valor_fb))
                display(expor[expor["CO_MUN"] == municipio_vizinho[0]])

        if contagem:
            print(f"{key}\n")
            dicionario_exportacao[key] = lista_exportacao
        contagem = 0
        lista_exportacao = []
        
    return dicionario_exportacao

In [141]:
dicionario_export = produtos_exportados_vizinhos(distancias_municipios_escolhidos, exp_2022)

,CO_MUN,Denominação nesse estudo,VL_FOB,KG_LIQUIDO
687,2922904,Sumos de frutas (incluídos os mostos de uvas) ...,248108.545455,82893.25

      CO_MUN Denominação nesse estudo   VL_FOB  KG_LIQUIDO
610  2807402    Coprodutos do Algodão  22545.0      1526.0

ITAPICURU

      CO_MUN           Denominação nesse estudo   VL_FOB  KG_LIQUIDO
530  2606002                Coprodutos do milho  29500.8     33765.2
531  2606002  Farelo/Farinha e Resíduos Sólidos  29500.8     33765.2

CAETÉS

      CO_MUN           Denominação nesse estudo   VL_FOB  KG_LIQUIDO
530  2606002                Coprodutos do milho  29500.8     33765.2
531  2606002  Farelo/Farinha e Resíduos Sólidos  29500.8     33765.2

CANHOTINHO

,CO_MUN,Denominação nesse estudo,VL_FOB,KG_LIQUIDO
648,2913705,Sumos de frutas (incluídos os mostos de uvas) ...,90226.285714,54448.571429

,CO_MUN,Denominação nesse estudo,VL_FOB,KG_LIQUIDO
687,2922904,Sumos de frutas (incluídos os mostos de uvas) ...,248108.545455,82893.25

      CO_MUN Denominação nesse estudo   VL_FOB  KG_LIQUIDO
610  2807402    Coprodutos do Algodão  22545.0      1526.0

OLINDINA

      CO_MUN    Denominação nesse estudo        VL_FOB     KG_LIQUIDO
517  2601706  Carne de Frango e Miudezas  34847.727273  105545.454545
518  2601706                       Papel    131.523810      45.809524

BREJO DA MADRE DE DEUS

      CO_MUN           Denominação nesse estudo   VL_FOB  KG_LIQUIDO
530  2606002                Coprodutos do milho  29500.8     33765.2
531  2606002  Farelo/Farinha e Resíduos Sólidos  29500.8     33765.2

BOM CONSELHO

      CO_MUN Denominação nesse estudo  VL_FOB  KG_LIQUIDO
504  2504009                    Papel  1840.5       416.0

      CO_MUN    Denominação nesse estudo    VL_FOB  KG_LIQUIDO
505  2506301  Carne de Frango e Miudezas  34305.44     57228.0

      CO_MUN Denominação nesse estudo  VL_FOB  KG_LIQUIDO
510  2512408                    Papel  1351.0       109.0

      CO_MUN Denominação nesse estudo   VL_FOB  KG_LIQUIDO
513  2515104                  Algodão  60623.0     11565.0

ALAGOA GRANDE