# 1) Imports

In [81]:
import pandas as pd
import numpy as np
import unidecode
import re
import pandas as pd
from geopy.distance import great_circle

# 2) Coleta dos dados

In [82]:
top_muns = pd.read_csv("../Dados/Tabela_final/municipios_potenciais.csv").drop(columns=['Unnamed: 0'])
mun_ser = pd.read_csv('../Dados/Views/municipios_sertao.csv').drop(columns = 'Unnamed: 0')
agro = pd.read_csv("../Dados/Tabela_final/dados_producao_agricola.csv").drop(columns=['Unnamed: 0'])
solos = pd.read_csv("../Dados/Views/solos_municipios.csv").drop(columns=['Unnamed: 0'])
solos = mun_ser.drop(columns=['LATITUDE', 'LONGITUDE']).merge(solos, on = 'IBGE7').drop(columns=['IBGE7', 'UF'])

# 3) Análise dos dados

### 3.1) Distribuição dos dados

In [85]:
agro

,MUNICIPIO,PRODUTO,AREA_PLANTADA,AREA_COLHIDA,REND_MEDIO,VALOR_PROD
0,ABAIARA,ALGODAO HERBACEO (EM CAROCO),26.666667,26.666667,2796.333333,214.666667
1,ABAIARA,AMENDOIM (EM CASCA),15.000000,15.000000,978.000000,60.666667
2,ABAIARA,BANANA,26.666667,26.666667,18363.333333,786.333333
3,ABAIARA,CASTANHA DE CAJU,7.000000,7.000000,333.666667,7.333333
4,ABAIARA,FAVA (EM GRAO),37.666667,37.666667,450.000000,86.666667
...,...,...,...,...,...,...
9517,XIQUE-XIQUE,TOMATE,1.000000,1.000000,9333.333333,24.666667
9518,ZABELE,FEIJAO (EM GRAO),193.333333,95.000000,219.000000,87.666667
9519,ZABELE,MANGA,4.000000,4.000000,6666.666667,31.333333
9520,ZABELE,MILHO (EM GRAO),193.333333,95.000000,429.666667,52.333333
9521,ZABELE,TOMATE,4.333333,4.333333,20000.000000,219.000000

### 3.1) Identificando os municípios mais próximos dos municípios potenciais

In [83]:
resultado = {}

for _, row_top in top_muns.iterrows():
    municipio_interesse = row_top['NOME']  
    coordenadas_interesse = (row_top['LATITUDE'], row_top['LONGITUDE'])

    municipios_proximos = {}

    for _, row_ser in mun_ser.iterrows():
        coordenadas_ser = (row_ser['LATITUDE'], row_ser['LONGITUDE'])

        distancia = great_circle(coordenadas_interesse, coordenadas_ser).kilometers

        if distancia <= 50:
            municipios_proximos[row_ser['NOME']] = round(distancia,2)

    resultado[municipio_interesse] = municipios_proximos

resultado

{'ITAPICURU': {'CIPÓ': 39.18,
  'CRISÓPOLIS': 23.38,
  'ITAPICURU': 0.0,
  'NOVA SOURE': 29.68,
  'OLINDINA': 13.0,
  'RIBEIRA DO AMPARO': 36.69,
  'TOBIAS BARRETO': 28.58},
 'MATA GRANDE': {'CANAPI': 14.89,
  'DELMIRO GOUVEIA': 41.68,
  'INHAPI': 12.15,
  'MARAVILHA': 43.53,
  'MATA GRANDE': 0.0,
  "OLHO D'ÁGUA DO CASADO": 44.17,
  'OURO BRANCO': 41.6,
  'PARICONHA': 33.04,
  'SENADOR RUI PALMEIRA': 49.37,
  'INAJÁ': 26.56,
  'ITAÍBA': 39.56,
  'MANARI': 20.34,
  'TACARATU': 45.96},
 'MONTE SANTO': {'CANSANÇÃO': 30.88,
  'EUCLIDES DA CUNHA': 35.51,
  'MONTE SANTO': 0.0,
  'NORDESTINA': 43.77,
  'QUIJINGUE': 37.14},
 'ITAÍBA': {'CANAPI': 27.58,
  'INHAPI': 48.09,
  'MARAVILHA': 32.46,
  'MATA GRANDE': 39.56,
  'OURO BRANCO': 24.65,
  'POÇO DAS TRINCHEIRAS': 42.62,
  'ÁGUAS BELAS': 37.23,
  'BUÍQUE': 45.95,
  'INAJÁ': 46.15,
  'ITAÍBA': 0.0,
  'MANARI': 23.6,
  'TUPANATINGA': 23.39},
 'TUPANATINGA': {'CANAPI': 49.72,
  'OURO BRANCO': 45.7,
  'ÁGUAS BELAS': 47.18,
  'ARCOVERDE': 48.62,
  'BUÍQUE': 24.75,
  'IBIMIRIM': 45.7,
  'ITAÍBA': 23.39,
  'MANARI': 39.68,
  'TUPANATINGA': 0.0},
 'CAETÉS': {'ALAGOINHA': 38.69,
  'ANGELIM': 38.75,
  'BOM CONSELHO': 43.72,
  'BREJÃO': 28.47,
  'CAETÉS': 0.0,
  'CALÇADO': 32.36,
  'CANHOTINHO': 48.33,
  'CAPOEIRAS': 5.14,
  'GARANHUNS': 18.27,
  'IATI': 38.34,
  'JUCATI': 17.65,
  'JUPI': 24.84,
  'LAGOA DO OURO': 42.63,
  'LAJEDO': 35.42,
  'PALMEIRINA': 41.98,
  'PARANATAMA': 15.7,
  'PEDRA': 46.71,
  'PESQUEIRA': 47.61,
  'SALOÁ': 22.48,
  'SANHARÓ': 47.05,
  'SÃO BENTO DO UNA': 34.5,
  'SÃO JOÃO': 30.63,
  'TEREZINHA': 30.68,
  'VENTUROSA': 35.23},
 'CRAÍBAS': {'ARAPIRACA': 19.31,
  'BATALHA': 40.32,
  'CACIMBINHAS': 34.2,
  'COITÉ DO NÓIA': 20.38,
  'CRAÍBAS': 0.0,
  'DOIS RIACHOS': 44.23,
  'ESTRELA DE ALAGOAS': 25.24,
  'GIRAU DO PONCIANO': 30.37,
  'IGACI': 17.04,
  'JACARÉ DOS HOMENS': 48.05,
  'JARAMATAIA': 26.22,
  'LAGOA DA CANOA': 24.12,
  'MAJOR ISIDORO': 26.25,
  'MINADOR DO NEGRÃO': 35.69,
  'OLIVENÇA': 47.94,
  'PALMEIRA DOS ÍNDIOS': 27.96,
  'QUEBRANGULO': 46.72,
  'TRAIPU': 46.33},
 'ÁGUAS BELAS': {'CACIMBINHAS': 35.32,
  'DOIS RIACHOS': 30.54,
  'MAJOR ISIDORO': 48.73,
  'MARAVILHA': 28.5,
  'MINADOR DO NEGRÃO': 35.65,
  'OLIVENÇA': 46.1,
  'OURO BRANCO': 26.12,
  'POÇO DAS TRINCHEIRAS': 28.44,
  'SANTANA DO IPANEMA': 31.89,
  'ÁGUAS BELAS': 0.0,
  'BOM CONSELHO': 48.4,
  'IATI': 30.83,
  'ITAÍBA': 37.23,
  'SALOÁ': 49.85,
  'TUPANATINGA': 47.18},
 'POÇO REDONDO': {'BELO MONTE': 44.56,
  'CARNEIROS': 49.01,
  "OLHO D'ÁGUA DO CASADO": 37.3,
  'PALESTINA': 40.46,
  'PÃO DE AÇÚCAR': 27.62,
  'PIRANHAS': 21.81,
  'SÃO JOSÉ DA TAPERA': 42.97,
  'SENADOR RUI PALMEIRA': 44.84,
  'PEDRO ALEXANDRE': 32.44,
  'SANTA BRÍGIDA': 48.65,
  'CANINDÉ DE SÃO FRANCISCO': 21.18,
  'MONTE ALEGRE DE SERGIPE': 27.8,
  'POÇO REDONDO': 0.0,
  'PORTO DA FOLHA': 45.4},
 'TRAIPU': {'ARAPIRACA': 44.35,
  'BATALHA': 34.91,
  'BELO MONTE': 33.41,
  'CRAÍBAS': 46.33,
  'GIRAU DO PONCIANO': 21.12,
  'JACARÉ DOS HOMENS': 42.5,
  'JARAMATAIA': 33.4,
  'LAGOA DA CANOA': 32.49,
  'MAJOR ISIDORO': 48.12,
  'MONTEIRÓPOLIS': 48.01,
  'PALESTINA': 48.43,
  'TRAIPU': 0.0,
  'AMPARO DE SÃO FRANCISCO': 20.71,
  'AQUIDABÃ': 35.08,
  'CANHOBA': 19.55,
  'CEDRO DE SÃO JOÃO': 34.96,
  'CUMBE': 47.46,
  'FEIRA NOVA': 47.32,
  'GARARU': 8.8,
  'GRACHO CARDOSO': 36.07,
  'ITABI': 21.01,
  'NOSSA SENHORA DE LOURDES': 14.06,
  'PORTO DA FOLHA': 30.78,
  'PROPRIÁ': 33.14,
  'TELHA': 30.38},
 'ARACI': {'ARACI': 0.0,
  'BARROCAS': 25.94,
  'BIRITINGA': 35.52,
  'CONCEIÇÃO DO COITÉ': 43.77,
  'SANTALUZ': 46.18,
  'SÁTIRO DIAS': 49.64,
  'SERRINHA': 37.46,
  'TEOFILÂNDIA': 17.87,
  'TUCANO': 44.77},
 'GIRAU DO PONCIANO': {'ARAPIRACA': 23.53,
  'BATALHA': 40.44,
  'BELO MONTE': 49.27,
  'COITÉ DO NÓIA': 38.85,
  'CRAÍBAS': 30.37,
  'GIRAU DO PONCIANO': 0.0,
  'IGACI': 44.01,
  'JACARÉ DOS HOMENS': 49.62,
  'JARAMATAIA': 31.11,
  'LAGOA DA CANOA': 11.41,
  'MAJOR ISIDORO': 43.11,
  'TRAIPU': 21.12,
  'AMPARO DE SÃO FRANCISCO': 30.09,
  'AQUIDABÃ': 48.18,
  'CANHOBA': 32.47,
  'CEDRO DE SÃO JOÃO': 41.49,
  'GARARU': 29.63,
  'ITABI': 40.21,
  'NOSSA SENHORA DE LOURDES': 33.09,
  'PORTO DA FOLHA': 49.71,
  'PROPRIÁ': 36.69,
  'TELHA': 36.26},
 'CANHOTINHO': {'ALTINHO': 45.96,
  'ANGELIM': 10.18,
  'BREJÃO': 43.85,
  'CACHOEIRINHA': 43.6,
  'CAETÉS': 48.33,
  'CALÇADO': 22.22,
  'CANHOTINHO': 0.0,
  'CORRENTES': 30.55,
  'CUPIRA': 38.96,
  'GARANHUNS': 32.82,
  'IBIRAJUBA': 33.43,
  'JUCATI': 37.24,
  'JUPI': 30.06,
  'JUREMA': 20.07,
  'LAGOA DO OURO': 39.83,
  'LAGOA DOS GATOS': 40.27,
  'LAJEDO': 28.27,
  'PALMEIRINA': 20.39,
  'PANELAS': 31.44,
  'SÃO BENTO DO UNA': 47.57,
  'SÃO JOÃO': 18.39},
 'OLINDINA': {'CIPÓ': 33.72,
  'CRISÓPOLIS': 26.73,
  'INHAMBUPE': 47.99,
  'ITAPICURU': 13.0,
  'NOVA SOURE': 20.82,
  'OLINDINA': 0.0,
  'RIBEIRA DO AMPARO': 35.48,
  'SÁTIRO DIAS': 38.85,
  'TOBIAS BARRETO': 41.46},
 'BREJO DA MADRE DE DEUS': {'BARRA DE SÃO MIGUEL': 45.23,
  'CARAÚBAS': 49.42,
  'BELO JARDIM': 21.02,
  'BREJO DA MADRE DE DEUS': 0.0,
  'CACHOEIRINHA': 40.3,
  'CARUARU': 46.96,
  'JATAÚBA': 23.32,
  'PESQUEIRA': 42.51,
  'POÇÃO': 37.33,
  'SANHARÓ': 31.88,
  'SANTA CRUZ DO CAPIBARIBE': 29.04,
  'SÃO BENTO DO UNA': 42.67,
  'SÃO CAITANO': 23.03,
  'TACAIMBÓ': 19.5,
  'TAQUARITINGA DO NORTE': 46.24,
  'TORITAMA': 37.54},
 'BOM CONSELHO': {'CACIMBINHAS': 42.29,
  'ESTRELA DE ALAGOAS': 26.12,
  'IGACI': 41.32,
  'MINADOR DO NEGRÃO': 25.71,
  'PALMEIRA DOS ÍNDIOS': 26.93,
  'QUEBRANGULO': 29.08,
  'ÁGUAS BELAS': 48.4,
  'BOM CONSELHO': 0.0,
  'BREJÃO': 20.38,
  'CAETÉS': 43.72,
  'CAPOEIRAS': 48.74,
  'CORRENTES': 40.02,
  'GARANHUNS': 38.05,
  'IATI': 22.66,
  'LAGOA DO OURO': 25.42,
  'PALMEIRINA': 43.42,
  'PARANATAMA': 28.05,
  'SALOÁ': 21.9,
  'SÃO JOÃO': 47.99,
  'TEREZINHA': 14.11},
 'IGACI': {'ARAPIRACA': 24.3,
  'CACIMBINHAS': 41.68,
  'COITÉ DO NÓIA': 12.12,
  'CRAÍBAS': 17.04,
  'ESTRELA DE ALAGOAS': 21.47,
  'GIRAU DO PONCIANO': 44.01,
  'IGACI': 0.0,
  'JARAMATAIA': 42.6,
  'LAGOA DA CANOA': 34.75,
  'MAJOR ISIDORO': 38.92,
  'MINADOR DO NEGRÃO': 35.74,
  'PALMEIRA DOS ÍNDIOS': 14.69,
  'QUEBRANGULO': 30.42,
  'BOM CONSELHO': 41.32,
  'LAGOA DO OURO': 49.84},
 'PEDRA': {'SÃO JOÃO DO TIGRE': 47.57,
  'SÃO SEBASTIÃO DO UMBUZEIRO': 39.05,
  'ZABELÊ': 49.87,
  'ALAGOINHA': 18.04,
  'ARCOVERDE': 15.78,
  'BUÍQUE': 27.85,
  'CAETÉS': 46.71,
  'CAPOEIRAS': 43.09,
  'PEDRA': 0.0,
  'PESQUEIRA': 30.77,
  'POÇÃO': 42.61,
  'SANHARÓ': 43.44,
  'VENTUROSA': 11.68},
 'PORTO DA FOLHA': {'BATALHA': 31.61,
  'BELO MONTE': 10.43,
  'CARNEIROS': 49.05,
  'GIRAU DO PONCIANO': 49.71,
  'JACARÉ DOS HOMENS': 32.33,
  'JARAMATAIA': 41.67,
  'MONTEIRÓPOLIS': 34.97,
  "OLHO D'ÁGUA DAS FLORES": 42.21,
  'OLIVENÇA': 45.17,
  'PALESTINA': 27.5,
  'PÃO DE AÇÚCAR': 25.99,
  'SÃO JOSÉ DA TAPERA': 41.32,
  'TRAIPU': 30.78,
  'AMPARO DE SÃO FRANCISCO': 45.3,
  'AQUIDABÃ': 49.88,
  'CANHOBA': 41.29,
  'CUMBE': 49.66,
  'FEIRA NOVA': 38.55,
  'GARARU': 22.49,
  'GRACHO CARDOSO': 35.55,
  'ITABI': 30.33,
  'MONTE ALEGRE DE SERGIPE': 32.72,
  'NOSSA SENHORA DA GLÓRIA': 36.52,
  'NOSSA SENHORA DE LOURDES': 30.25,
  'POÇO REDONDO': 45.4,
  'PORTO DA FOLHA': 0.0},
 'ALAGOA GRANDE': {'ALAGOA GRANDE': 0.0,
  'ALAGOA NOVA': 15.37,
  'ALAGOINHA': 14.13,
  'ALGODÃO DE JANDAÍRA': 46.26,
  'ARAÇAGI': 34.87,
  'ARARA': 27.8,
  'AREIA': 11.95,
  'AREIAL': 34.3,
  'BANANEIRAS': 32.44,
  'BELÉM': 34.94,
  'BORBOREMA': 26.4,
  'CACIMBA DE DENTRO': 47.83,
  'CAIÇARA': 49.85,
  'CALDAS BRANDÃO': 33.13,
  'CAMPINA GRANDE': 34.47,
  'CASSERENGUE': 36.19,
  'CUITEGI': 19.84,
  'DONA INÊS': 47.12,
  'DUAS ESTRADAS': 45.32,
  'ESPERANÇA': 26.45,
  'FAGUNDES': 38.9,
  'GUARABIRA': 25.78,
  'GURINHÉM': 23.8,
  'INGÁ': 26.97,
  'ITABAIANA': 45.52,
  'ITATUBA': 38.05,
  'JUAREZ TÁVORA': 15.75,
  'LAGOA DE DENTRO': 49.29,
  'LAGOA SECA': 28.32,
  'MASSARANDUBA': 24.67,
  'MATINHAS': 18.73,
  'MOGEIRO': 31.25,
  'MONTADAS': 37.76,
  'MULUNGU': 17.79,
  'PILÕES': 19.05,
  'PILÕEZINHOS': 24.0,
  'PIRPIRITUBA': 32.3,
  'POCINHOS': 49.33,
  'PUXINANÃ': 38.99,
  'QUEIMADAS': 46.54,
  'REMÍGIO': 22.27,
  'RIACHÃO DO BACAMARTE': 24.4,
  'SALGADO DE SÃO FÉLIX': 40.72,
  'SÃO JOSÉ DOS RAMOS': 36.19,
  'SÃO SEBASTIÃO DE LAGOA DE ROÇA': 28.39,
  'SERRA DA RAIZ': 44.25,
  'SERRA REDONDA': 17.77,
  'SERRARIA': 24.89,
  'SERTÃOZINHO': 37.9,
  'SOLÂNEA': 32.35},
 'PIRANHAS': {'CARNEIROS': 44.42,
  'DELMIRO GOUVEIA': 37.51,
  'INHAPI': 44.27,
  "OLHO D'ÁGUA DO CASADO": 15.61,
  'PALESTINA': 46.17,
  'PÃO DE AÇÚCAR': 37.05,
  'PARICONHA': 48.73,
  'PIRANHAS': 0.0,
  'SÃO JOSÉ DA TAPERA': 41.65,
  'SENADOR RUI PALMEIRA': 37.04,
  'PEDRO ALEXANDRE': 45.65,
  'SANTA BRÍGIDA': 41.67,
  'CANINDÉ DE SÃO FRANCISCO': 4.75,
  'MONTE ALEGRE DE SERGIPE': 49.52,
  'POÇO REDONDO': 21.81},
 'SANTANA DO IPANEMA': {'BATALHA': 36.1,
  'CACIMBINHAS': 28.4,
  'CANAPI': 47.34,
  'CARNEIROS': 19.08,
  'DOIS RIACHOS': 16.7,
  'JACARÉ DOS HOMENS': 29.85,
  'JARAMATAIA': 42.05,
  'MAJOR ISIDORO': 33.25,
  'MARAVILHA': 19.29,
  'MINADOR DO NEGRÃO': 42.01,
  'MONTEIRÓPOLIS': 25.97,
  "OLHO D'ÁGUA DAS FLORES": 19.32,
  'OLIVENÇA': 17.6,
  'OURO BRANCO': 26.28,
  'PALESTINA': 35.35,
  'PÃO DE AÇÚCAR': 46.26,
  'POÇO DAS TRINCHEIRAS': 8.28,
  'SANTANA DO IPANEMA': 0.0,
  'SÃO JOSÉ DA TAPERA': 25.6,
  'SENADOR RUI PALMEIRA': 25.53,
  'ÁGUAS BELAS': 31.89}}

### 3.2) Identificando as atividades agrícolas mais exploradas em um raio de 50km do município de interesse

In [84]:
def atividades_agricolas():
    muns_prox = list(resultado['MONTE SANTO'].keys())
    atv_agr_prox = agro[agro['MUNICIPIO'].isin(muns_prox)]
    atv_agr_prox = atv_agr_prox[['PRODUTO', 'AREA_PLANTADA', 'VALOR_PROD']].groupby('PRODUTO').sum().reset_index().sort_values(by='VALOR_PROD', ascending = False)
    atv_agr_prox['REND_AREA'] = atv_agr_prox['VALOR_PROD']/atv_agr_prox['AREA_PLANTADA']
    solos_prox = solos[solos['NOME'].isin(muns_prox)].drop(columns=['NOME'])
    solos_prox = solos_prox.groupby('SOLO').sum().reset_index().sort_values(by='AREA_TOTAL', ascending = False)
    print('Total')
    display(atv_agr_prox)
    display(solos_prox)
    
    for mun in resultado['MONTE SANTO']:
        atv_agr_prox = agro[agro['MUNICIPIO']==mun]
        atv_agr_prox = atv_agr_prox[['PRODUTO', 'AREA_PLANTADA', 'VALOR_PROD']].groupby('PRODUTO').sum().reset_index().sort_values(by='VALOR_PROD', ascending = False)
        atv_agr_prox['REND_AREA'] = atv_agr_prox['VALOR_PROD']/atv_agr_prox['AREA_PLANTADA']
        
        solos_prox = solos[solos['NOME']==mun].drop(columns=['NOME'])
        solos_prox = solos_prox.groupby('SOLO').sum().reset_index().sort_values(by='AREA_TOTAL', ascending = False)
        
        if atv_agr_prox.shape[0] == 0:
            pass
        else:
            print(mun)
            display(atv_agr_prox)
            display(solos_prox)
        
    
atividades_agricolas()

Total

            PRODUTO  AREA_PLANTADA    VALOR_PROD  REND_AREA
4   MILHO (EM GRAO)   42333.333333  96231.000000   2.273173
2  FEIJAO (EM GRAO)   40588.333333  70331.666667   1.732805
3          MANDIOCA    3591.666667  20512.666667   5.711183
1  CASTANHA DE CAJU    1054.333333    756.000000   0.717041
0       BATATA-DOCE       3.333333     41.666667  12.500000

                                              SOLO     AREA_TOTAL
6            SXe - Planossolos Haplicos Eutroficos  546281.678800
5           RRe - Neossolos Regoliticos Eutroficos  138945.991192
0        CXve - Cambissolos Haplicos Ta Eutroficos   63653.886201
2  PVAd - Argissolos Vermelho-Amarelos Distroficos   53856.149036
4           RQo - Neossolos Quartzarenicos Orticos   41773.600707
3            RLd - Neossolos Litolicos Distroficos   25751.551286
1            LAd - Latossolos Amarelos Distroficos    1034.400607

EUCLIDES DA CUNHA

            PRODUTO  AREA_PLANTADA    VALOR_PROD  REND_AREA
2  FEIJAO (EM GRAO)   20066.666667  56344.000000   2.807841
4   MILHO (EM GRAO)   14000.000000  52795.666667   3.771119
3          MANDIOCA    3000.000000  15999.333333   5.333111
1  CASTANHA DE CAJU    1000.000000    710.666667   0.710667
0       BATATA-DOCE       3.333333     41.666667  12.500000

                                              SOLO    AREA_TOTAL
4            SXe - Planossolos Haplicos Eutroficos  61680.034849
0        CXve - Cambissolos Haplicos Ta Eutroficos  56289.046048
1  PVAd - Argissolos Vermelho-Amarelos Distroficos  53856.149036
2            RLd - Neossolos Litolicos Distroficos  25751.551286
3           RQo - Neossolos Quartzarenicos Orticos  13114.196016

MONTE SANTO

            PRODUTO  AREA_PLANTADA    VALOR_PROD  REND_AREA
3   MILHO (EM GRAO)    9000.000000  34171.666667   3.796852
1  FEIJAO (EM GRAO)    9016.666667   8225.333333   0.912237
2          MANDIOCA     205.000000   1577.666667   7.695935
0  CASTANHA DE CAJU       5.000000      4.000000   0.800000

                                     SOLO     AREA_TOTAL
1   SXe - Planossolos Haplicos Eutroficos  235105.029260
0  RRe - Neossolos Regoliticos Eutroficos   98113.543571

NORDESTINA

            PRODUTO  AREA_PLANTADA   VALOR_PROD  REND_AREA
2   MILHO (EM GRAO)    2166.666667  1571.333333   0.725231
1          MANDIOCA      96.666667   130.666667   1.351724
0  FEIJAO (EM GRAO)    1833.333333    68.000000   0.037091

                                     SOLO    AREA_TOTAL
1   SXe - Planossolos Haplicos Eutroficos  40353.565744
0  RRe - Neossolos Regoliticos Eutroficos   6038.228454

QUIJINGUE

            PRODUTO  AREA_PLANTADA   VALOR_PROD  REND_AREA
3   MILHO (EM GRAO)   17166.666667  7692.333333   0.448097
1  FEIJAO (EM GRAO)    9671.666667  5694.333333   0.588764
2          MANDIOCA     290.000000  2805.000000   9.672414
0  CASTANHA DE CAJU      49.333333    41.333333   0.837838

                                        SOLO     AREA_TOTAL
3      SXe - Planossolos Haplicos Eutroficos  103958.956936
2     RQo - Neossolos Quartzarenicos Orticos   28659.404691
0  CXve - Cambissolos Haplicos Ta Eutroficos    7364.840152
1      LAd - Latossolos Amarelos Distroficos    1034.400607

In [80]:
top_muns[['NOME', '']]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 60 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   IBGE7                15 non-null     int64
 1   UF                   15 non-null     object
 2   NOME                 15 non-null     object
 3   LATITUDE             15 non-null     float64
 4   LONGITUDE            15 non-null     float64
 5   DIST_EF_PUB          15 non-null     float64
 6   DIST_EM_PUB          15 non-null     float64
 7   IDEB_AI              15 non-null     float64
 8   IDEB_AF              15 non-null     float64
 9   DOCSUP_EF_PUB        15 non-null     float64
 10  DOCSUP_EM_PUB        15 non-null     float64
 11  TXNASC7C             15 non-null     float64
 12  TXNBAIXOP            15 non-null     float64
 13  PINTERSAP            15 non-null     float64
 14  PINTERDRSAI          15 non-null     float64
 15  REN_PIBPC_D          15 non-null     float64
 16  PDEFAGUA             15 non-null     float64
 17  PDEFESGOTO           15 non-null     float64
 18  PANALF15             15 non-null     float64
 19  PIND_POS             15 non-null     float64
 20  SNIS_PAGUA           15 non-null     float64
 21  POP_TOT              15 non-null     float64
 22  POP_TOT_30KM         15 non-null     float64
 23  PREC_MED             15 non-null     float64
 24  TEMP_MED             15 non-null     float64
 25  AREA_IRRIGADA_TOT    15 non-null     float64
 26  AREA_IRRIGADA_POT    15 non-null     float64
 27  AREA_IRRIGADA_POT_E  15 non-null     float64
 28  IDHM                 15 non-null     float64
 29  T_BANAGUA            15 non-null     float64
 30  T_DENS               15 non-null     float64
 31  T_LIXO               15 non-null     float64
 32  T_LUZ                15 non-null     float64
 33  AGUA_ESGOTO          15 non-null     float64
 34  PAREDE               15 non-null     float64
 35  PIND                 15 non-null     float64
 36  PINDCRI              15 non-null     float64
 37  T_DES18M             15 non-null     float64
 38  T_FBBAS              15 non-null     float64
 39  T_FBFUND             15 non-null     float64
 40  T_FBMED              15 non-null     float64
 41  T_FBPRE              15 non-null     float64
 42  T_FBSUPER            15 non-null     float64
 43  T_ATRASO_1_BASICO    15 non-null     float64
 44  T_ATRASO_1_FUND      15 non-null     float64
 45  T_ATRASO_1_MED       15 non-null     float64
 46  T_ATRASO_2_BASICO    15 non-null     float64
 47  T_ATRASO_2_FUND      15 non-null     float64
 48  T_ATRASO_2_MED       15 non-null     float64
 49  T_ANALF11A14         15 non-null     float64
 50  T_ANALF15A17         15 non-null     float64
 51  T_ANALF15M           15 non-null     float64
 52  T_ANALF18A24         15 non-null     float64
 53  T_ANALF18M           15 non-null     float64
 54  T_ANALF25A29         15 non-null     float64
 55  T_ANALF25M           15 non-null     float64
 56  QUAL_MED_AGUA        15 non-null     float64
 57  DIST_CORPO_AGUA      15 non-null     float64
 58  TRANSPORT_COST       15 non-null     float64
 59  CLUSTER              15 non-null     int64
dtypes: float64(56), int64(2), object(2)
memory usage: 7.2+ KB