## First Hypotheses:

O próximo município de atuação deve estar inserido em um contexto similar aos atuais.

### 1) Importing Libraries

In [2]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
import warnings

# Ou suprimir todos os warnings
warnings.filterwarnings("ignore")

### 2) Data Cleaning and Loading:

In [3]:
codigos_ne = list(range(21, 30))
lista_municipios_modelo = ["MAURITI", "INAJÁ", "SÃO JOSÉ DA TAPERA", "BUÍQUE"]

#### 2.1) Dados dos Municípios

In [4]:
df_municipios_raw_um = pd.read_excel("..\Dados\Municipios\lista-1262municipios-semiarido-2017.xlsx", header=2)
df_municipios_raw_dois = pd.read_csv("..\Dados\Municipios\municipios.csv")

In [5]:
df_municipios_um = df_municipios_raw_um.copy()
df_municipios_dois = df_municipios_raw_dois.copy()

In [6]:
display(df_municipios_um.info())
display(df_municipios_dois.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1262 entries, 0 to 1261
Data columns (total 5 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   #                          1262 non-null   int64
 1   Cod IBGE                   1262 non-null   int64
 2   UF                         1262 non-null   object
 3   Município                  1262 non-null   object
 4   População Estimada - 2017  1262 non-null   object
dtypes: int64(2), object(3)
memory usage: 49.4+ KB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5570 entries, 0 to 5569
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   codigo_ibge  5570 non-null   int64
 1   nome         5570 non-null   object
 2   latitude     5570 non-null   float64
 3   longitude    5570 non-null   float64
 4   codigo_uf    5570 non-null   int64
dtypes: float64(2), int64(2), object(1)
memory usage: 217.7+ KB

None

In [8]:
df_municipios_um.drop(columns=["#"], inplace=True)

In [9]:
df_municipios_dois.columns

Index(['codigo_ibge', 'nome', 'latitude', 'longitude', 'codigo_uf'], dtype='object')

In [10]:
df_municipios = pd.merge(df_municipios_um, df_municipios_dois[["codigo_ibge", "codigo_uf", "latitude", "longitude"]], 
                         how="inner", left_on="Cod IBGE", right_on="codigo_ibge")

df_municipios.drop(columns=["Cod IBGE"], inplace=True)

In [12]:
municipios_ne = df_municipios[df_municipios["codigo_uf"].isin(codigos_ne)]
codigos_municipios_modelos = municipios_ne["codigo_ibge"].values

In [44]:
municipios_ne.head()

,UF,Município,População Estimada - 2017,codigo_ibge,codigo_uf,latitude,longitude
0,AL,ÁGUA BRANCA,20467,2700102,27,-9.26200,-37.9380
1,AL,ARAPIRACA,234185,2700300,27,-9.75487,-36.6615
2,AL,BATALHA,18757,2700706,27,-9.67420,-37.1330
3,AL,BELO MONTE,6797,2700904,27,-9.82272,-37.2770
4,AL,CACIMBINHAS,10897,2701209,27,-9.40121,-36.9911

#### 2.2) Registros Administrativos:

Buscar informações sobre educação dentro do banco de dados de Resgistros administrativos que façam sentido com o que a ONG, Amigos do bem, busque dentro de um modelo de município:

- Taxa de evasão do ensino fundamental (TTREVA_EF_TOTAL) (sem dados)
- Taxa de evasão do ensino médio (TTREVA_EM_TOTAL) (sem dados)
- Taxa de evasão do ensino médio em Escolas públicas (TTREVA_EM_PUB). (sem dados)
- Taxa de evasão do ensino fundamental em Escolas públicas (TTREVA_EF_PUB). (sem dados)
- Percentual de matrículas da rede pública no ensino fundamental (PMATPUB_EF).
- Percentual de matrículas da rede pública no ensino médio (PMATPUB_EM)

In [41]:
df_adm_total_raw = pd.read_excel(r"..\Dados\Registros Administrativos\dados_registros_administrativos_total_2012_2017.xlsx", sheet_name="MUNICÍPIO")

In [74]:
df_adm_total = df_adm_total_raw.copy()

In [83]:
lista_colunas_uteis_adm = ["ANO","IBGE7", "NOME", "TTREVA_EF_TOTAL", "TTREVA_EM_TOTAL", "TTREVA_EF_PUB", 
                           "TTREVA_EM_PUB", "PMATPUB_EF", "PMATPUB_EM"]

In [84]:
df_util_adm = df_adm_total[lista_colunas_uteis_adm][df_adm_total["ANO"] == 2017]

In [85]:
df_util_adm.drop(columns="ANO", inplace=True)

In [86]:
df_util_adm.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5570 entries, 22280 to 27849
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   IBGE7            5570 non-null   int64
 1   NOME             5570 non-null   object
 2   TTREVA_EF_TOTAL  0 non-null      float64
 3   TTREVA_EM_TOTAL  0 non-null      float64
 4   TTREVA_EF_PUB    0 non-null      float64
 5   TTREVA_EM_PUB    0 non-null      float64
 6   PMATPUB_EF       5570 non-null   float64
 7   PMATPUB_EM       5561 non-null   float64
dtypes: float64(6), int64(1), object(1)
memory usage: 391.6+ KB

In [88]:
df_util_adm = df_util_adm[["IBGE7", "PMATPUB_EF", "PMATPUB_EM"]]

         IBGE7  PMATPUB_EF  PMATPUB_EM
22280  1100015      100.00      100.00
22281  1100023       89.42       95.84
22282  1100031      100.00      100.00
22283  1100049       82.46       80.47
22284  1100056       96.31       97.47

In [89]:
df_util_adm.isna().sum()

IBGE7         0
PMATPUB_EF    0
PMATPUB_EM    9
dtype: int64

In [91]:
imputer = SimpleImputer(strategy="mean")
df_util_adm["PMATPUB_EM"] = imputer.fit_transform(df_util_adm[["PMATPUB_EM"]])

In [93]:
df_util_adm.set_index("IBGE7", inplace=True)

In [94]:
df_util_adm[["PMATPUB_EF", "PMATPUB_EM"]] = df_util_adm[["PMATPUB_EF", "PMATPUB_EM"]] / 100

In [96]:
# Tabela final para registros administrativos:
df_util_adm.head()

         PMATPUB_EF  PMATPUB_EM
IBGE7
1100015      1.0000      1.0000
1100023      0.8942      0.9584
1100031      1.0000      1.0000
1100049      0.8246      0.8047
1100056      0.9631      0.9747

#### 2.3) Dados Educacionais e Censo 2020:

In [1]:
edu_raw_2020 = pd.read_csv(r"..\Dados\Q EDU\Dados_QEdu_Analitico_2020.csv", delimiter=";")
censo_raw_2020 = pd.read_excel(r"..\Dados\Censo\estimativa_dou_2020.xls", header=1, sheet_name="Municípios", dtype={"COD. MUNIC": str})

NameError: name 'pd' is not defined

In [311]:
edu_2020 = edu_raw_2020.copy()
censo_2020 = censo_raw_2020.copy()

In [312]:
edu_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1795 entries, 0 to 1794
Data columns (total 76 columns):
 #   Column                                                                                                                  Non-Null Count  Dtype
---  ------                                                                                                                  --------------  -----
 0   COD Municipio                                                                                                           1795 non-null   object
 1   Cidade                                                                                                                  1794 non-null   object
 2   COD UF                                                                                                                  1794 non-null   float64
 3   UF                                                                                                                      1794 non-null   object
 4   Total de escolas federais                                                                                               199 non-null    object
 5   Total de escolas estaduais                                                                                              1789 non-null   object
 6   Total de escolas municipais                                                                                             1793 non-null   object
 7   Total de escolas privadas                                                                                               1208 non-null   object
 8   Total de escolas sem creche                                                                                             1794 non-null   float64
 9   Total de escolas com creche                                                                                             1772 non-null   object
 10  Escolas que não funcionam em prédio escolar                                                                             415 non-null    object
 11  Escolas que funcionam em prédio escolar                                                                                 1794 non-null   float64
 12  Total de escolas que não funcionam em unidade de atendimento socio educativo                                            1794 non-null   float64
 13  Total de escolas que funcionam em unidade de atendimento socio educativo                                                20 non-null     object
 14  Total de escolas que não funcionam em unidade prisional                                                                 1794 non-null   float64
 15  Total de escolas que funcionam em unidade prisional                                                                     77 non-null     object
 16  Total de escolas que não funcionam em galpão / rancho / paiol / barracão                                                1794 non-null   float64
 17  Total de escolas que funcionam em galpão / rancho / paiol / barracão                                                    270 non-null    object
 18  Total de escolas que não funcionam em salas de outra escola                                                             1794 non-null   float64
 19  Total de escolas que funcionam em salas de outra escola                                                                 975 non-null    object
 20  Total de escolas que não funcionam em outros locais                                                                     1794 non-null   float64
 21  Total de escolas que funcionam em outros locais                                                                         1210 non-null   object
 22  Total de escolas que não tem abastecimento de água da rede pública                                                      1621 non-null   object
 23  Total de escolas que tem abastecimento de água da rede pública                                                          1779 non-null   object
 24  Total de escolas que não não possuem abastecimento de água                                                              1794 non-null   float64
 25  Total de escolas que não possuem abastecimento de água                                                                  414 non-null    object
 26  Total de escolas que não possuem energia elétrica da rede pública                                                       240 non-null    object
 27  Total de escolas que possuem energia elétrica da rede pública                                                           1794 non-null   float64
 28  Total de escolas que não não possuem energia elétrica                                                                   1794 non-null   float64
 29  Total de escolas que não possuem energia elétrica                                                                       162 non-null    object
 30  Total de matrículas                                                                                                     1794 non-null   float64
 31  Total de docentes                                                                                                       1794 non-null   float64
 32  Total de docentes em Creche                                                                                             1770 non-null   object
 33  Total de docentes em Pré-escola                                                                                         1794 non-null   float64
 34  Total de docentes em 1ª Série                                                                                           0 non-null      float64
 35  Total de docentes em 2ª Série                                                                                           0 non-null      float64
 36  Total de docentes em 3ª Série                                                                                           0 non-null      float64
 37  Total de docentes em 4ª Série                                                                                           0 non-null      float64
 38  Total de docentes em 5ª Série                                                                                           0 non-null      float64
 39  Total de docentes em 6ª Série                                                                                           0 non-null      float64
 40  Total de docentes em 7ª Série                                                                                           0 non-null      float64
 41  Total de docentes em 8ª Série                                                                                           0 non-null      float64
 42  Total de docentes em 1º Ano                                                                                             1794 non-null   float64
 43  Total de docentes em 2º Ano                                                                                             1793 non-null   object
 44  Total de docentes em 3º Ano                                                                                             1794 non-null   float64
 45  Total de docentes em 4º Ano                                                                                             1794 non-null   float64
 46  Total de docentes em 5º Ano                                                                                             1794 non-null   float64
 47  Total de docentes em 6º Ano                                                                                             1793 non-null   object
 48  Total de docentes em 7º Ano                                                                                             1793 non-null   object
 49  Total de docentes em 8º Ano                                                                                             1793 non-null   object
 50  Total de docentes em 9º Ano                                                                                             1794 non-null   float64
 51  Total de docentes em 1º ano/1ª Série                                                                                    1784 non-null   object
 52  Total de docentes em 2º ano/2ª Série                                                                                    1786 non-null   object
 53  Total de docentes em 3ºano/3ª Série                                                                                     1787 non-null   object
 54  Total de docentes em 4º ano/4ª Série                                                                                    3 non-null      object
 55  Total de docentes em Nao Seriada                                                                                        88 non-null     object
 56  Total de docentes em Curso Técnico Integrado (Ensino Médio Integrado) 1ª Série                                          528 non-null    object
 57  Total de docentes em Curso Técnico Integrado (Ensino Médio Integrado) 2ª Série                                          480 non-null    object
 58  Total de docentes em Curso Técnico Integrado (Ensino Médio Integrado) 3ª Série                                          439 non-null    object
 59  Total de docentes em Curso Técnico Integrado (Ensino Médio Integrado) 4ª Série                                          142 non-null    object
 60  Total de docentes em Curso Técnico Integrado (Ensino Médio Integrado) Nao Seriada                                       20 non-null     object
 61  Total de docentes em Modalidade Normal/Magistério 1ª Série                                                              25 non-null     object
 62  Total de docentes em Modalidade Normal/Magistério 2ª Série                                                              29 non-null     object
 63  Total de docentes em Modalidade Normal/Magistério 3ª Série                                                              42 non-null     object
 64  Total de docentes em Modalidade Normal/Magistério 4ª Série                                                              44 non-null     object
 65  Total de docentes em Concomitante                                                                                       294 non-null    object
 66  Total de docentes em Subsequente                                                                                        349 non-null    object
 67  Total de docentes em Ensino Fundamental - Projovem Urbano                                                               0 non-null      float64
 68  Total de docentes em Nível Médio                                                                                        48 non-null     object
 69  Total de docentes em Curso FIC Concomitante                                                                             52 non-null     object
 70  Total de docentes em Ensino Fundamental - Anos Iniciais                                                                 1438 non-null   object
 71  Total de docentes em Ensino Fundamental - Anos Finais                                                                   1682 non-null   object
 72  Total de docentes em Ensino Médio                                                                                       1477 non-null   object
 73  Total de docentes em Nível Fundamental (EJA integrada à Educação Profissional de Nível Fundamental)                     25 non-null     object
 74  Total de docentes em Curso Técnico Integrado na Modalidade EJA (EJA integrada à Educação Profissional de Nível Médio)   173 non-null    object
 75  Total de docentes em Nao aplicável para turmas de atendimento educacional especializado (AEE) e atividade complementar  0 non-null      float64
dtypes: float64(29), object(47)
memory usage: 1.0+ MB

In [313]:
edu_2020_nordeste = edu_2020[edu_2020["COD UF"].isin(codigos_ne)]

In [314]:
edu_2020_nordeste["Total de escolas estaduais"] = edu_2020_nordeste["Total de escolas estaduais"].str.replace(",", ".")
edu_2020_nordeste["Total de escolas municipais"] = edu_2020_nordeste["Total de escolas municipais"].str.replace(",", ".")

In [315]:
edu_2020_nordeste[[ 
                "Total de escolas estaduais", 
                "Total de escolas municipais"]] = edu_2020_nordeste[[ 
                                                                    "Total de escolas estaduais", 
                                                                    "Total de escolas municipais"]].astype('float').astype('Int64')

In [316]:
imputer = SimpleImputer(strategy="mean")
dados_imputados = imputer.fit_transform(edu_2020_nordeste[[ 
                                                           "Total de escolas estaduais", 
                                                           "Total de escolas municipais"]])

edu_2020_nordeste[["Total de escolas estaduais", "Total de escolas municipais"]] = dados_imputados.round()

##### 2.7.1) Número de escolas municipais e estaduais em um município

In [317]:
edu_2020_nordeste["Total_escolas_publicas_mun_est"] = edu_2020_nordeste['Total de escolas estaduais'] \
    + edu_2020_nordeste['Total de escolas municipais']

In [318]:
df_edu_2020 = edu_2020_nordeste[["COD Municipio", "Total_escolas_publicas_mun_est"]]

df_edu_2020.set_index("COD Municipio", inplace=True)

In [319]:
df_edu_2020.head()

               Total_escolas_publicas_mun_est
COD Municipio
2507507                                 289.0
2207702                                 108.0
2412005                                  65.0
2302800                                  88.0
2110104                                  74.0

##### 2.7.2) Número de matrículas por população jovem:

In [320]:
total_matriculas =  edu_2020_nordeste[["COD Municipio", "Total de matrículas"]]
total_matriculas.set_index("COD Municipio", inplace=True)

In [321]:
total_matriculas.isna().sum()

Total de matrículas    0
dtype: int64

In [322]:
df_edu_2020 = df_edu_2020.merge(total_matriculas, how="inner", left_index=True, right_index=True)

In [323]:
df_edu_2020.head()

               Total_escolas_publicas_mun_est  Total de matrículas
COD Municipio
2507507                                 289.0             169336.0
2207702                                 108.0              38350.0
2412005                                  65.0              24709.0
2302800                                  88.0              20928.0
2110104                                  74.0               8861.0

In [324]:
censo_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5586 entries, 0 to 5585
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   UF                  5584 non-null   object
 1   COD. UF             5570 non-null   float64
 2   COD. MUNIC          5570 non-null   object
 3   NOME DO MUNICÍPIO   5570 non-null   object
 4   POPULAÇÃO ESTIMADA  5570 non-null   object
dtypes: float64(1), object(4)
memory usage: 218.3+ KB

In [325]:
censo_2020_ne = censo_2020[censo_2020["COD. UF"].isin(codigos_ne)]

In [326]:
censo_2020_ne

      UF  COD. UF COD. MUNIC      NOME DO MUNICÍPIO POPULAÇÃO ESTIMADA
450   MA     21.0      00055             Açailândia             113121
451   MA     21.0      00105           Afonso Cunha               6578
452   MA     21.0      00154  Água Doce do Maranhão              12652
453   MA     21.0      00204              Alcântara              22112
454   MA     21.0      00303          Aldeias Altas              26757
...   ..      ...        ...                    ...                ...
2239  BA     29.0      33307   Vitória da Conquista             341128
2240  BA     29.0      33406                 Wagner               9344
2241  BA     29.0      33455              Wanderley              12180
2242  BA     29.0      33505    Wenceslau Guimarães              20978
2243  BA     29.0      33604            Xique-Xique              46523

[1794 rows x 5 columns]

In [327]:
censo_2020_ne["COD. UF"] = censo_2020_ne["COD. UF"].astype(int).astype(str)

In [328]:
censo_2020_ne

      UF COD. UF COD. MUNIC      NOME DO MUNICÍPIO POPULAÇÃO ESTIMADA
450   MA      21      00055             Açailândia             113121
451   MA      21      00105           Afonso Cunha               6578
452   MA      21      00154  Água Doce do Maranhão              12652
453   MA      21      00204              Alcântara              22112
454   MA      21      00303          Aldeias Altas              26757
...   ..     ...        ...                    ...                ...
2239  BA      29      33307   Vitória da Conquista             341128
2240  BA      29      33406                 Wagner               9344
2241  BA      29      33455              Wanderley              12180
2242  BA      29      33505    Wenceslau Guimarães              20978
2243  BA      29      33604            Xique-Xique              46523

[1794 rows x 5 columns]

In [329]:
censo_2020_ne["CODIGO_MUNIC"] = censo_2020_ne["COD. UF"] +  censo_2020_ne["COD. MUNIC"]

In [330]:
censo_2020_ne.drop(columns=["COD. UF", "COD. MUNIC", "NOME DO MUNICÍPIO", "UF"], inplace=True)

In [331]:
censo_2020_ne.set_index("CODIGO_MUNIC", inplace=True)

In [332]:
censo_2020_ne

             POPULAÇÃO ESTIMADA
CODIGO_MUNIC
2100055                  113121
2100105                    6578
2100154                   12652
2100204                   22112
2100303                   26757
...                         ...
2933307                  341128
2933406                    9344
2933455                   12180
2933505                   20978
2933604                   46523

[1794 rows x 1 columns]

In [333]:
resultado = censo_2020_ne["POPULAÇÃO ESTIMADA"].str.split("(").to_frame()

In [334]:
index = resultado.dropna().index
valores = [i[0] for i in resultado.dropna()["POPULAÇÃO ESTIMADA"]]

In [335]:
valores_serie = pd.Series(valores, index=index).str.strip()
censo_2020_ne["POPULAÇÃO ESTIMADA"].loc[index] = valores_serie.values

In [336]:
censo_2020_ne["POPULAÇÃO ESTIMADA"] = censo_2020_ne["POPULAÇÃO ESTIMADA"].astype(int)

In [337]:
# Juntando o dataset de educação com a população:
df_edu_2020 = df_edu_2020.merge(censo_2020_ne, how="inner", left_index=True, right_index=True)

In [339]:
df_edu_2020.index.name = "COD_MUNIC"

In [340]:
df_edu_2020

,Total_escolas_publicas_mun_est,Total de matrículas,POPULAÇÃO ESTIMADA
COD_MUNIC,,,
2507507,289.0,169336.0,817511
2207702,108.0,38350.0,153482
2412005,65.0,24709.0,103672
2302800,88.0,20928.0,77244
2110104,74.0,8861.0,25764
...,...,...,...
2917003,60.0,11398.0,36116
2103505,58.0,17674.0,41312
2402006,46.0,15571.0,68343
2916401,45.0,17693.0,76795
2515302,42.0,12723.0,52804

In [345]:
df_edu_2020["TOT_ESC_POR_POP"] = df_edu_2020["Total_escolas_publicas_mun_est"]/ df_edu_2020["POPULAÇÃO ESTIMADA"]
df_edu_2020["TOT_MAT_POR_POP"] = df_edu_2020["Total de matrículas"]/ df_edu_2020["POPULAÇÃO ESTIMADA"]

In [346]:
df_edu_2020

,Total_escolas_publicas_mun_est,Total de matrículas,POPULAÇÃO ESTIMADA,TOT_ESC_POR_POP,TOT_MAT_POR_POP
COD_MUNIC,,,,,
2507507,289.0,169336.0,817511,0.000354,0.207136
2207702,108.0,38350.0,153482,0.000704,0.249866
2412005,65.0,24709.0,103672,0.000627,0.238338
2302800,88.0,20928.0,77244,0.001139,0.270934
2110104,74.0,8861.0,25764,0.002872,0.343930
...,...,...,...,...,...
2917003,60.0,11398.0,36116,0.001661,0.315594
2103505,58.0,17674.0,41312,0.001404,0.427818
2402006,46.0,15571.0,68343,0.000673,0.227836
2916401,45.0,17693.0,76795,0.000586,0.230393
2515302,42.0,12723.0,52804,0.000795,0.240948

In [349]:
df_edu_2020.index = df_edu_2020.index.astype(int)

Dataframe com informações de educação final:

In [354]:
df_edu_2020 = df_edu_2020.merge(df_util_adm, how="inner", left_index=True, right_index=True)

In [355]:
df_edu_2020_final = df_edu_2020.drop(columns=["POPULAÇÃO ESTIMADA", "Total_escolas_publicas_mun_est", "Total de matrículas"])

In [427]:
df_edu_2020_final.drop(columns=['nome'], inplace=True)

In [428]:
df_edu_2020_final.to_csv(r"..\Dados\Q EDU\dados_edu_2020.csv")

#### 3) Tabela final (Educação):

In [19]:
tabela_final = pd.read_csv(r"..\Dados\Tabela_final\tabela_final.csv")
tabela_edu_caio = pd.read_csv(r"..\Dados\Q EDU\dados_edu_2020.csv")

In [20]:
tabela_final = tabela_final[tabela_final["UF"] != "MG"]

In [27]:
tabela_final_edu = tabela_final.merge(tabela_edu_caio, how="left", left_on="IBGE7", right_on="COD MUNICIPIO")
tabela_final_edu.drop(columns="COD MUNICIPIO", inplace=True)

In [28]:
tabela_final_edu.columns

Index(['IBGE7', 'UF', 'NOME', 'LATITUDE', 'LONGITUDE', 'DIST_EF_PUB',
       'DIST_EM_PUB', 'IDEB_AI', 'IDEB_AF', 'DOCSUP_EF_PUB', 'DOCSUP_EM_PUB',
       'TXNASC7C', 'TXNBAIXOP', 'PINTERSAP', 'PINTERDRSAI', 'REN_PIBPC_D',
       'PDEFAGUA', 'PDEFESGOTO', 'PANALF15', 'PIND_POS', 'SNIS_PAGUA',
       'POP_TOT', 'POP_TOT_30KM', 'PREC_MED', 'TEMP_MED', 'AREA_IRRIGADA_TOT',
       'AREA_IRRIGADA_POT', 'AREA_IRRIGADA_POT_E', 'IDHM', 'T_BANAGUA',
       'T_DENS', 'T_LIXO', 'T_LUZ', 'AGUA_ESGOTO', 'PAREDE', 'PIND', 'PINDCRI',
       'T_DES18M', 'T_FBBAS', 'T_FBFUND', 'T_FBMED', 'T_FBPRE', 'T_FBSUPER',
       'T_ATRASO_1_BASICO', 'T_ATRASO_1_FUND', 'T_ATRASO_1_MED',
       'T_ATRASO_2_BASICO', 'T_ATRASO_2_FUND', 'T_ATRASO_2_MED',
       'T_ANALF11A14', 'T_ANALF15A17', 'T_ANALF15M', 'T_ANALF18A24',
       'T_ANALF18M', 'T_ANALF25A29', 'T_ANALF25M', 'QUAL_MED_AGUA',
       'DIST_CORPO_AGUA', 'TRANSPORT_COST', 'TOT_ESC_POR_POP',
       'TOT_MAT_POR_POP', 'PMATPUB_EF', 'PMATPUB_EM'],
      dtype='object')

In [29]:
tabela_final_edu.to_csv(r"..\Dados\Tabela_final\tabela_final_edu.csv", index=False)