## First Hypotheses:

O próximo município de atuação deve estar inserido em um contexto similar aos atuais.

### 1) Importing Libraries

In [51]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer

### 2) Data Cleaning and Loading:

In [4]:
codigos_ne = list(range(21, 30))
lista_municipios_modelo = ["MAURITI", "INAJÁ", "SÃO JOSÉ DA TAPERA"]

#### 2.1) Dados dos Municípios

In [5]:
df_municipios_raw_um = pd.read_excel("..\Dados\Municipios\lista-1262municipios-semiarido-2017.xlsx", header=2)
df_municipios_raw_dois = pd.read_csv("..\Dados\Municipios\municipios.csv")

In [171]:
df_municipios_um = df_municipios_raw_um.copy()
df_municipios_dois = df_municipios_raw_dois.copy()

In [172]:
display(df_municipios_um.info())
display(df_municipios_dois.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1262 entries, 0 to 1261
Data columns (total 5 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   #                          1262 non-null   int64
 1   Cod IBGE                   1262 non-null   int64
 2   UF                         1262 non-null   object
 3   Município                  1262 non-null   object
 4   População Estimada - 2017  1262 non-null   object
dtypes: int64(2), object(3)
memory usage: 49.4+ KB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5570 entries, 0 to 5569
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   codigo_ibge  5570 non-null   int64
 1   nome         5570 non-null   object
 2   latitude     5570 non-null   float64
 3   longitude    5570 non-null   float64
 4   codigo_uf    5570 non-null   int64
dtypes: float64(2), int64(2), object(1)
memory usage: 217.7+ KB

None

In [173]:
df_municipios_um.head()

   #  Cod IBGE  UF    Município População Estimada - 2017
0  1   2700102  AL  ÁGUA BRANCA                     20467
1  2   2700300  AL    ARAPIRACA                    234185
2  3   2700706  AL      BATALHA                     18757
3  4   2700904  AL   BELO MONTE                      6797
4  5   2701209  AL  CACIMBINHAS                     10897

In [174]:
df_municipios_um.drop(columns=["#"], inplace=True)

In [175]:
df_municipios_dois.columns

Index(['codigo_ibge', 'nome', 'latitude', 'longitude', 'codigo_uf'], dtype='object')

In [176]:
df_municipios = pd.merge(df_municipios_um, df_municipios_dois[["codigo_ibge", "codigo_uf", "latitude", "longitude"]], 
                         how="inner", left_on="Cod IBGE", right_on="codigo_ibge")

df_municipios.drop(columns=["Cod IBGE"], inplace=True)

In [177]:
df_municipios.head()

,UF,Município,População Estimada - 2017,codigo_ibge,codigo_uf,latitude,longitude
0,AL,ÁGUA BRANCA,20467,2700102,27,-9.26200,-37.9380
1,AL,ARAPIRACA,234185,2700300,27,-9.75487,-36.6615
2,AL,BATALHA,18757,2700706,27,-9.67420,-37.1330
3,AL,BELO MONTE,6797,2700904,27,-9.82272,-37.2770
4,AL,CACIMBINHAS,10897,2701209,27,-9.40121,-36.9911

In [207]:
municipios_modelo = df_municipios[df_municipios["Município"].isin(lista_municipios_modelo)]

In [208]:
municipios_modelo

,UF,Município,População Estimada - 2017,codigo_ibge,codigo_uf,latitude,longitude
35,AL,SÃO JOSÉ DA TAPERA,32626,2708402,27,-9.55768,-37.3831
419,CE,MAURITI,46548,2308104,23,-7.38597,-38.7708
828,PE,INAJÁ,22801,2607000,26,-8.90206,-37.8351

In [188]:
codigos_municipios_modelos = municipios_modelo["codigo_ibge"].values

#### 2.2) Dados de Meteorologia:

In [40]:
met1_raw = pd.read_csv("..\Dados\INMET\INMET_2020.csv")
met2_raw = pd.read_csv("..\Dados\INMET\INMET_2021.csv")
met3_raw = pd.read_csv("..\Dados\INMET\INMET_2022.csv")

In [126]:
met_2020 = met1_raw.copy()
met_2021 = met2_raw.copy()
met_2022 = met3_raw.copy()

In [127]:
met_data = pd.concat([met_2022, met_2021, met_2020])

In [128]:
met_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15273576 entries, 0 to 5173775
Data columns (total 26 columns):
 #   Column                                                 Dtype
---  ------                                                 -----
 0   Data                                                   object
 1   Hora UTC                                               object
 2   PRECIPITAÇÃO TOTAL, HORÁRIO (mm)                       float64
 3   PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)  float64
 4   PRESSÃO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB)        float64
 5   PRESSÃO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB)       float64
 6   RADIACAO GLOBAL (Kj/m²)                                float64
 7   TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)           float64
 8   TEMPERATURA DO PONTO DE ORVALHO (°C)                   float64
 9   TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C)             float64
 10  TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C)             float64
 11  TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (°C)       float64
 12  TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (°C)       float64
 13  UMIDADE REL. MAX. NA HORA ANT. (AUT) (%)               float64
 14  UMIDADE REL. MIN. NA HORA ANT. (AUT) (%)               float64
 15  UMIDADE RELATIVA DO AR, HORARIA (%)                    float64
 16  VENTO, DIREÇÃO HORARIA (gr) (° (gr))                   float64
 17  VENTO, RAJADA MAXIMA (m/s)                             float64
 18  VENTO, VELOCIDADE HORARIA (m/s)                        float64
 19  REGIAO                                                 object
 20  UF                                                     object
 21  ESTACAO                                                object
 22  CODIGO (WMO)                                           object
 23  LATITUDE                                               float64
 24  LONGITUDE                                              float64
 25  ALTITUDE                                               float64
dtypes: float64(20), object(6)
memory usage: 3.1+ GB

In [129]:
met_data.tail()

,Data,Hora UTC,"PRECIPITAÇÃO TOTAL, HORÁRIO (mm)","PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)",PRESSÃO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB),PRESSÃO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB),RADIACAO GLOBAL (Kj/m²),"TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)",TEMPERATURA DO PONTO DE ORVALHO (°C),TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C),...,"VENTO, DIREÇÃO HORARIA (gr) (° (gr))","VENTO, RAJADA MAXIMA (m/s)","VENTO, VELOCIDADE HORARIA (m/s)",REGIAO,UF,ESTACAO,CODIGO (WMO),LATITUDE,LONGITUDE,ALTITUDE
5173771,2020-12-31,1900 UTC,0.0,979.8,979.9,979.5,2954.3,29.3,14.7,29.3,...,165.0,5.7,2.7,S,RS,SANTA ROSA,A810,-27.890463,-54.480014,272.84
5173772,2020-12-31,2000 UTC,0.0,980.1,980.1,979.8,2107.0,28.8,14.7,29.6,...,214.0,6.9,2.3,S,RS,SANTA ROSA,A810,-27.890463,-54.480014,272.84
5173773,2020-12-31,2100 UTC,0.0,980.1,980.1,980.0,1550.5,28.0,14.6,28.9,...,195.0,7.0,3.0,S,RS,SANTA ROSA,A810,-27.890463,-54.480014,272.84
5173774,2020-12-31,2200 UTC,0.0,980.0,980.1,979.9,726.9,26.4,14.0,28.1,...,183.0,6.9,2.5,S,RS,SANTA ROSA,A810,-27.890463,-54.480014,272.84
5173775,2020-12-31,2300 UTC,0.0,980.3,980.3,980.0,75.4,23.4,14.0,26.4,...,162.0,6.3,1.6,S,RS,SANTA ROSA,A810,-27.890463,-54.480014,272.84

In [130]:
met_data.columns

Index(['Data', 'Hora UTC', 'PRECIPITAÇÃO TOTAL, HORÁRIO (mm)',
       'PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)',
       'PRESSÃO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB)',
       'PRESSÃO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB)',
       'RADIACAO GLOBAL (Kj/m²)',
       'TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)',
       'TEMPERATURA DO PONTO DE ORVALHO (°C)',
       'TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C)',
       'TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C)',
       'TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (°C)',
       'TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (°C)',
       'UMIDADE REL. MAX. NA HORA ANT. (AUT) (%)',
       'UMIDADE REL. MIN. NA HORA ANT. (AUT) (%)',
       'UMIDADE RELATIVA DO AR, HORARIA (%)',
       'VENTO, DIREÇÃO HORARIA (gr) (° (gr))', 'VENTO, RAJADA MAXIMA (m/s)',
       'VENTO, VELOCIDADE HORARIA (m/s)', 'REGIAO', 'UF', 'ESTACAO',
       'CODIGO (WMO)', 'LATITUDE', 'LONGITUDE', 'ALTITUDE'],
      dtype='object')

In [131]:
met_data.drop(columns=["ESTACAO", "CODIGO (WMO)",
                       "RADIACAO GLOBAL (Kj/m²)",
                       "PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)",
                       "TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)",
                       "TEMPERATURA DO PONTO DE ORVALHO (°C)",
                       "TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (°C)",
                       "TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (°C)",
                       "PRESSÃO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB)",
                       "PRESSÃO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB)", 
                       "TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (°C)",
                       "TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (°C)",
                       "UMIDADE RELATIVA DO AR, HORARIA (%)",
                       "UMIDADE REL. MAX. NA HORA ANT. (AUT) (%)",
                       "UMIDADE REL. MIN. NA HORA ANT. (AUT) (%)",
                       "VENTO, DIREÇÃO HORARIA (gr) (° (gr))", 
                       "VENTO, RAJADA MAXIMA (m/s)"], 
                       inplace=True)

In [132]:
met_data.set_index(["Data", "Hora UTC"], inplace=True)

In [133]:
met_data.head()

                     PRECIPITAÇÃO TOTAL, HORÁRIO (mm)
Data       Hora UTC
2022-01-01 0000 UTC                               0.0  \
           0100 UTC                               0.0
           0200 UTC                               0.0
           0300 UTC                               0.0
           0400 UTC                               0.0

                     TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C)
Data       Hora UTC
2022-01-01 0000 UTC                                        27.5  \
           0100 UTC                                        26.4
           0200 UTC                                        25.8
           0300 UTC                                        25.4
           0400 UTC                                        25.1

                     TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C)
Data       Hora UTC
2022-01-01 0000 UTC                                        26.4  \
           0100 UTC                                        25.8
           0200 UTC                                        25.4
           0300 UTC                                        25.1
           0400 UTC                                        24.4

                     VENTO, VELOCIDADE HORARIA (m/s) REGIAO  UF  LATITUDE
Data       Hora UTC
2022-01-01 0000 UTC                              4.6     NE  AL -9.622222  \
           0100 UTC                              3.3     NE  AL -9.622222
           0200 UTC                              3.6     NE  AL -9.622222
           0300 UTC                              3.6     NE  AL -9.622222
           0400 UTC                              2.0     NE  AL -9.622222

                     LONGITUDE  ALTITUDE
Data       Hora UTC
2022-01-01 0000 UTC -37.767222     187.0
           0100 UTC -37.767222     187.0
           0200 UTC -37.767222     187.0
           0300 UTC -37.767222     187.0
           0400 UTC -37.767222     187.0

In [138]:
met_data_nordeste = met_data[met_data["REGIAO"] == "NE"]

In [139]:
met_data_nordeste.head()

                     PRECIPITAÇÃO TOTAL, HORÁRIO (mm)
Data       Hora UTC
2022-01-01 0000 UTC                               0.0  \
           0100 UTC                               0.0
           0200 UTC                               0.0
           0300 UTC                               0.0
           0400 UTC                               0.0

                     TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C)
Data       Hora UTC
2022-01-01 0000 UTC                                        27.5  \
           0100 UTC                                        26.4
           0200 UTC                                        25.8
           0300 UTC                                        25.4
           0400 UTC                                        25.1

                     TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C)
Data       Hora UTC
2022-01-01 0000 UTC                                        26.4  \
           0100 UTC                                        25.8
           0200 UTC                                        25.4
           0300 UTC                                        25.1
           0400 UTC                                        24.4

                     VENTO, VELOCIDADE HORARIA (m/s) REGIAO  UF  LATITUDE
Data       Hora UTC
2022-01-01 0000 UTC                              4.6     NE  AL -9.622222  \
           0100 UTC                              3.3     NE  AL -9.622222
           0200 UTC                              3.6     NE  AL -9.622222
           0300 UTC                              3.6     NE  AL -9.622222
           0400 UTC                              2.0     NE  AL -9.622222

                     LONGITUDE  ALTITUDE
Data       Hora UTC
2022-01-01 0000 UTC -37.767222     187.0
           0100 UTC -37.767222     187.0
           0200 UTC -37.767222     187.0
           0300 UTC -37.767222     187.0
           0400 UTC -37.767222     187.0

In [140]:
met_data_nordeste.isna().sum()

PRECIPITAÇÃO TOTAL, HORÁRIO (mm)              1999582
TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C)    1620698
TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C)    1618229
VENTO, VELOCIDADE HORARIA (m/s)               1728241
REGIAO                                              0
UF                                                  0
LATITUDE                                            0
LONGITUDE                                           0
ALTITUDE                                            0
dtype: int64

#### 2.3) Dados de Logística

In [54]:
logistica_raw = pd.read_excel(r"..\Dados\Transportes\transport_cost.xlsx")

In [55]:
df_logistica = logistica_raw.copy()

In [141]:
df_logistica.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4155 entries, 0 to 4154
Data columns (total 3 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   codigo_ibge          4155 non-null   int64
 1   nome_porto           4155 non-null   object
 2   transportation_cost  4155 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 97.5+ KB

In [56]:
df_logistica.head()

   codigo_ibge     nome  codigo_uf nome_porto  transportation_cost
0      2300101  Abaiara         23      suape         26769.167437
1      2300101  Abaiara         23      aratu         26247.386651
2      2300101  Abaiara         23      natal         27553.406755
3      2900108   Abaíra         29      suape         25204.170790
4      2900108   Abaíra         29      aratu         24126.590792

In [57]:
df_logistica.drop(columns=["nome", "codigo_uf"], inplace=True)

In [58]:
df_logistica.head()

   codigo_ibge nome_porto  transportation_cost
0      2300101      suape         26769.167437
1      2300101      aratu         26247.386651
2      2300101      natal         27553.406755
3      2900108      suape         25204.170790
4      2900108      aratu         24126.590792

#### 2.4) Registros Administrativos:

In [6]:
df_adm_cor_raw = pd.read_excel(r"..\Dados\Registros Administrativos\dados_registros_administrativos_cor_2012_2017.xlsx", sheet_name="MUNICÍPIO")
df_adm_sexo_raw = pd.read_excel(r"..\Dados\Registros Administrativos\dados_registros_administrativos_sexo_2012_2017.xlsx", sheet_name="MUNICÍPIO")
df_adm_total_raw = pd.read_excel(r"..\Dados\Registros Administrativos\dados_registros_administrativos_total_2012_2017.xlsx", sheet_name="MUNICÍPIO")

In [161]:
df_adm_cor = df_adm_cor_raw.copy()
df_adm_sexo = df_adm_sexo_raw.copy()
df_adm_total = df_adm_total_raw.copy()

In [209]:
df_adm_cor["IBGE7"]

0        1100015
1        1100015
2        1100023
3        1100023
4        1100031
          ...
55695    5222203
55696    5222302
55697    5222302
55698    5300108
55699    5300108
Name: IBGE7, Length: 55700, dtype: int64

In [162]:
df_adm_cor_nordeste = df_adm_cor[df_adm_cor["IBGE7"].isin()]

,ANO,DESAGREGACAO,IBGE7,NOME,PMATPUB_EF,PMATPUB_EM,PMATPRI_EF,PMATPRI_EM,PMATLINF_EF,PMATLINF_EM,...,PDEFAGUA,PDEFESGOTO,PDEFLIXO,PDEFSAN,PANALF15,PIND_POS,PMPOB_POS,PPOB_POS,PBF,POP_TOT
0,2013,BRANCA,1100015,Alta Floresta D&apos;Oeste,98.46,100.00,1.54,NaN,50.66,100.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11163
1,2013,NEGRA,1100015,Alta Floresta D&apos;Oeste,99.68,100.00,0.32,NaN,49.77,100.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13940
2,2013,BRANCA,1100023,Ariquemes,75.82,85.85,24.18,14.15,83.94,87.64,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35894
3,2013,NEGRA,1100023,Ariquemes,94.97,98.48,5.03,1.52,83.35,78.78,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,63119
4,2013,BRANCA,1100031,Cabixi,100.00,100.00,NaN,NaN,80.94,96.43,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3002
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55695,2017,NEGRA,5222203,Vila Boa,100.00,100.00,NaN,NaN,100.00,100.00,...,12.55,37.76,12.31,6.12,12.72,33.06,68.22,81.40,62.55,4682
55696,2017,BRANCA,5222302,Vila Propício,100.00,100.00,NaN,NaN,49.68,64.00,...,39.36,66.27,28.31,27.71,10.68,22.89,60.44,79.32,63.25,1527
55697,2017,NEGRA,5222302,Vila Propício,100.00,100.00,NaN,NaN,40.07,38.14,...,38.53,69.85,25.05,24.07,11.76,29.90,69.56,86.23,69.22,4014
55698,2017,BRANCA,5300108,Brasília,58.94,60.77,41.06,39.23,82.86,82.55,...,8.51,14.95,4.37,1.95,6.37,23.05,64.40,84.95,61.48,1271377
55699,2017,NEGRA,5300108,Brasília,84.92,84.43,15.08,15.57,82.52,89.68,...,9.58,16.06,4.68,2.21,7.09,24.15,67.12,88.34,65.04,1708224

In [163]:
df_adm_sexo

,ANO,DESAGREGACAO,IBGE7,NOME,PMATPUB_EF,PMATPUB_EM,PMATPRI_EF,PMATPRI_EM,PMATLINF_EF,PMATLINF_EM,...,PDEFAGUA,PDEFESGOTO,PDEFLIXO,PDEFSAN,PANALF15,PIND_POS,PMPOB_POS,PPOB_POS,PBF,POP_TOT
0,2013,HOMEM,1100015,Alta Floresta D&apos;Oeste,99.07,100.00,0.93,NaN,46.82,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13349
1,2013,MULHER,1100015,Alta Floresta D&apos;Oeste,99.48,100.00,0.52,NaN,50.13,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12379
2,2013,HOMEM,1100023,Ariquemes,91.25,94.78,8.75,5.22,89.20,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51045
3,2013,MULHER,1100023,Ariquemes,90.98,94.82,9.02,5.18,89.56,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50224
4,2013,HOMEM,1100031,Cabixi,100.00,100.00,NaN,NaN,83.19,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3360
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55695,2017,MULHER,5222203,Vila Boa,100.00,100.00,NaN,NaN,100.00,NaN,...,12.21,36.92,11.52,5.99,10.89,32.43,70.28,82.43,64.11,2599
55696,2017,HOMEM,5222302,Vila Propício,100.00,100.00,NaN,NaN,48.90,NaN,...,40.31,68.46,27.07,26.16,12.85,28.56,67.63,84.85,66.56,2974
55697,2017,MULHER,5222302,Vila Propício,100.00,100.00,NaN,NaN,47.79,NaN,...,36.86,70.46,23.97,23.10,11.19,28.60,67.78,84.72,69.15,2716
55698,2017,HOMEM,5300108,Brasília,74.18,74.26,25.82,25.74,82.82,NaN,...,9.80,16.14,4.82,2.33,7.98,24.25,66.23,87.58,63.44,1453260
55699,2017,MULHER,5300108,Brasília,73.03,75.57,26.97,24.43,82.84,NaN,...,9.02,15.58,4.48,2.04,6.37,23.68,66.65,87.52,64.76,1586184

In [164]:
df_adm_total

,ANO,DESAGREGACAO,IBGE7,NOME,PMATPUB_EF,PMATPUB_EM,PMATPRI_EF,PMATPRI_EM,DIST_EF_TOTAL,DIST_EM_TOTAL,...,SNIS_CDI,PFOCOS,PFLORA,PFEM_VEREADOR,PFEM_PREFEITO,PFEM_GOVERNADOR,PFEM_DEP_ESTADUAL,PFEM_DEP_FEDERAL,PFEM_SENADOR,POP_TOT
0,2013,TOTAL,1100015,Alta Floresta D&apos;Oeste,99.26,100.00,0.74,NaN,25.8,29.6,...,100.0,0.51,66.02,20.00,0.0,NaN,NaN,NaN,NaN,25728
1,2013,TOTAL,1100023,Ariquemes,91.12,94.80,8.88,5.20,24.5,27.1,...,100.0,0.49,34.67,7.69,0.0,NaN,NaN,NaN,NaN,101269
2,2013,TOTAL,1100031,Cabixi,100.00,100.00,NaN,NaN,18.1,18.7,...,100.0,0.13,32.01,11.11,0.0,NaN,NaN,NaN,NaN,6495
3,2013,TOTAL,1100049,Cacoal,85.55,82.90,14.45,17.10,19.3,24.6,...,100.0,0.13,37.07,8.33,0.0,NaN,NaN,NaN,NaN,85863
4,2013,TOTAL,1100056,Cerejeiras,97.18,97.47,2.82,2.53,21.1,21.1,...,NaN,0.19,63.12,0.00,0.0,NaN,NaN,NaN,NaN,18041
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27845,2017,TOTAL,5222005,Vianópolis,94.55,100.00,5.45,NaN,17.6,17.3,...,100.0,0.02,24.14,11.11,0.0,NaN,NaN,NaN,NaN,13675
27846,2017,TOTAL,5222054,Vicentinópolis,100.00,100.00,NaN,NaN,17.6,18.2,...,100.0,0.07,16.75,0.00,0.0,NaN,NaN,NaN,NaN,8397
27847,2017,TOTAL,5222203,Vila Boa,100.00,100.00,NaN,NaN,25.7,34.5,...,NaN,0.16,52.27,33.33,0.0,NaN,NaN,NaN,NaN,5731
27848,2017,TOTAL,5222302,Vila Propício,100.00,100.00,NaN,NaN,17.2,27.4,...,NaN,0.33,45.80,11.11,0.0,NaN,NaN,NaN,NaN,5690
27849,2017,TOTAL,5300108,Brasília,73.62,74.95,26.38,25.05,16.7,24.6,...,100.0,1.25,51.32,NaN,NaN,NaN,NaN,NaN,NaN,3039444

#### 2.5) Exportação (COMEX):

Anos 2020, 2021 e 2022

In [153]:
df_expo_2020_raw = pd.read_csv("..\Dados\COMEX\EXP_2020_MUN.csv", delimiter=";") 
df_expo_2021_raw = pd.read_csv("..\Dados\COMEX\EXP_2021_MUN.csv", delimiter=";")
df_expo_2022_raw = pd.read_csv("..\Dados\COMEX\EXP_2022_MUN.csv", delimiter=";")

In [154]:
df_expo_2020 = df_expo_2020_raw.copy()
df_expo_2021 = df_expo_2021_raw.copy()
df_expo_2022 = df_expo_2022_raw.copy()

In [156]:
df_expo = pd.concat([df_expo_2022, df_expo_2021, df_expo_2020])

In [203]:
df_expo_nordeste = df_expo[df_expo["SG_UF_MUN"].isin(["PE", "PB", "AL", "MA", "RN", "CE", "BA", "SE", "PI"])]

In [204]:
df_expo_nordeste.head()

     CO_ANO  CO_MES   SH4  CO_PAIS SG_UF_MUN   CO_MUN  KG_LIQUIDO  VL_FOB
34     2022      12   703      399        MA  2111300         126     325
68     2022       8  6402      337        CE  2312908        5685   69774
110    2022       7   703      301        MA  2111300         420     622
115    2022       6   808      741        MA  2111300         238     579
117    2022       1   807      434        MA  2111300        1474    1286

In [205]:
df_expo_nordeste.info()

<class 'pandas.core.frame.DataFrame'>
Index: 219271 entries, 34 to 977451
Data columns (total 8 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   CO_ANO      219271 non-null  int64
 1   CO_MES      219271 non-null  int64
 2   SH4         219271 non-null  int64
 3   CO_PAIS     219271 non-null  int64
 4   SG_UF_MUN   219271 non-null  object
 5   CO_MUN      219271 non-null  int64
 6   KG_LIQUIDO  219271 non-null  int64
 7   VL_FOB      219271 non-null  int64
dtypes: int64(7), object(1)
memory usage: 15.1+ MB

#### 2.6) Censo

Censos dos anos 1991, 2000 e 2010 dos Municípios Brasileiros.

In [7]:
censo_raw_municipal = pd.read_excel("..\Dados\Censo\Censo_municipal_estadual_nacional.xlsx", sheet_name="MUN 91-00-10")

In [169]:
censo_municipal = censo_raw_municipal.copy()

In [199]:
censo_municipal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16695 entries, 0 to 16694
Columns: 237 entries, ANO to IDHM_R
dtypes: float64(167), int64(69), object(1)
memory usage: 30.2+ MB

In [186]:
censo_municipal_nordeste = censo_municipal[censo_municipal['UF'].isin(codigos_ne)]
censo_municipal_nordeste

,ANO,UF,Codmun6,Codmun7,Município,ESPVIDA,FECTOT,MORT1,MORT5,RAZDEP,...,PIA1517,PIA18M,POP,POPT,I_ESCOLARIDADE,I_FREQ_PROP,IDHM,IDHM_E,IDHM_L,IDHM_R
449,1991,21,210005,2100055,AÇAILÂNDIA,57.69,4.23,82.36,106.51,85.23,...,NaN,NaN,63132,62622,0.146,0.125,0.344,0.132,0.545,0.565
450,1991,21,210010,2100105,AFONSO CUNHA,55.35,5.93,96.05,123.67,118.20,...,NaN,NaN,4579,4579,0.055,0.181,0.278,0.122,0.506,0.349
451,1991,21,210015,2100154,ÁGUA DOCE DO MARANHÃO,56.96,5.81,86.50,111.72,106.06,...,NaN,NaN,10714,10628,0.025,0.060,0.210,0.045,0.533,0.388
452,1991,21,210020,2100204,ALCÂNTARA,60.43,5.35,67.87,83.26,99.24,...,NaN,NaN,19435,19403,0.083,0.075,0.271,0.078,0.591,0.430
453,1991,21,210030,2100303,ALDEIAS ALTAS,57.91,5.93,81.10,104.92,99.63,...,NaN,NaN,19441,19252,0.041,0.107,0.257,0.078,0.549,0.397
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13368,2010,29,293330,2933307,VITÓRIA DA CONQUISTA,72.30,2.01,21.24,17.13,46.97,...,16824.0,213429.0,304599,303343,0.493,0.630,0.678,0.581,0.788,0.681
13369,2010,29,293340,2933406,WAGNER,69.20,2.61,29.90,32.26,59.36,...,568.0,5830.0,8971,8880,0.343,0.566,0.587,0.479,0.737,0.573
13370,2010,29,293345,2933455,WANDERLEY,70.82,2.79,25.00,26.93,56.00,...,799.0,8137.0,12474,12158,0.327,0.614,0.600,0.498,0.764,0.569
13371,2010,29,293350,2933505,WENCESLAU GUIMARÃES,70.11,2.94,27.10,29.21,57.74,...,1414.0,13920.0,21893,21522,0.263,0.463,0.544,0.383,0.752,0.558
13372,2010,29,293360,2933604,XIQUE-XIQUE,69.48,2.85,29.00,31.31,63.01,...,3270.0,28066.0,45224,44168,0.368,0.547,0.585,0.479,0.741,0.563

In [197]:
censo_modelo = censo_municipal_nordeste[censo_municipal_nordeste["Codmun7"].isin(codigos_municipios_modelos)]
censo_nodeste_threshold = censo_municipal_nordeste[censo_municipal_nordeste["IDHM"] <= 0.52 ]

In [198]:
censo_nodeste_threshold

,ANO,UF,Codmun6,Codmun7,Município,ESPVIDA,FECTOT,MORT1,MORT5,RAZDEP,...,PIA1517,PIA18M,POP,POPT,I_ESCOLARIDADE,I_FREQ_PROP,IDHM,IDHM_E,IDHM_L,IDHM_R
449,1991,21,210005,2100055,AÇAILÂNDIA,57.69,4.23,82.36,106.51,85.23,...,NaN,NaN,63132,62622,0.146,0.125,0.344,0.132,0.545,0.565
450,1991,21,210010,2100105,AFONSO CUNHA,55.35,5.93,96.05,123.67,118.20,...,NaN,NaN,4579,4579,0.055,0.181,0.278,0.122,0.506,0.349
451,1991,21,210015,2100154,ÁGUA DOCE DO MARANHÃO,56.96,5.81,86.50,111.72,106.06,...,NaN,NaN,10714,10628,0.025,0.060,0.210,0.045,0.533,0.388
452,1991,21,210020,2100204,ALCÂNTARA,60.43,5.35,67.87,83.26,99.24,...,NaN,NaN,19435,19403,0.083,0.075,0.271,0.078,0.591,0.430
453,1991,21,210030,2100303,ALDEIAS ALTAS,57.91,5.93,81.10,104.92,99.63,...,NaN,NaN,19441,19252,0.041,0.107,0.257,0.078,0.549,0.397
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13215,2010,29,292150,2921500,MONTE SANTO,66.96,2.52,37.60,40.56,62.35,...,3225.0,33944.0,52294,50646,0.189,0.494,0.506,0.359,0.699,0.515
13252,2010,29,292420,2924207,PEDRO ALEXANDRE,71.68,2.21,22.60,24.35,58.73,...,1092.0,10520.0,16621,16188,0.229,0.440,0.513,0.354,0.778,0.489
13254,2010,29,292440,2924405,PILÃO ARCADO,69.19,3.10,29.90,32.29,64.49,...,2305.0,19967.0,32809,31594,0.204,0.444,0.506,0.343,0.737,0.514
13281,2010,29,292650,2926509,RIBEIRA DO AMPARO,66.66,2.54,38.80,41.77,63.14,...,1048.0,9002.0,14223,13857,0.218,0.509,0.512,0.384,0.694,0.503
13355,2010,29,293245,2932457,UMBURANAS,67.31,2.47,36.40,39.19,52.42,...,1144.0,11048.0,16916,16554,0.250,0.531,0.515,0.413,0.705,0.469

#### 2.7) Dados Educacinais:

In [105]:
edu_raw_2019 = pd.read_csv(r"..\Dados\Q EDU\Dados_QEdu_Analitico_2019.csv", delimiter=";")
edu_raw_2020 = pd.read_csv(r"..\Dados\Q EDU\Dados_QEdu_Analitico_2020.csv", delimiter=";")
censo_raw_2020 = pd.read_excel(r"..\Dados\Censo\estimativa_dou_2020.xls", header=1)

In [106]:
edu_2019 = edu_raw_2020.copy() 
edu_2020 = edu_raw_2019.copy()
censo_2020 = censo_raw_2020.copy()

In [107]:
censo_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 3 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   BRASIL E UNIDADES DA FEDERAÇÃO  39 non-null     object
 1   Unnamed: 1                      0 non-null      float64
 2   POPULAÇÃO ESTIMADA              33 non-null     object
dtypes: float64(1), object(2)
memory usage: 1.1+ KB

In [84]:
edu_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1795 entries, 0 to 1794
Data columns (total 76 columns):
 #   Column                                                                                                                  Non-Null Count  Dtype
---  ------                                                                                                                  --------------  -----
 0   COD Municipio                                                                                                           1795 non-null   object
 1   Cidade                                                                                                                  1794 non-null   object
 2   COD UF                                                                                                                  1794 non-null   float64
 3   UF                                                                                                                      1794 non-null   object
 4   Total de escolas federais                                                                                               199 non-null    object
 5   Total de escolas estaduais                                                                                              1789 non-null   object
 6   Total de escolas municipais                                                                                             1793 non-null   object
 7   Total de escolas privadas                                                                                               1208 non-null   object
 8   Total de escolas sem creche                                                                                             1794 non-null   float64
 9   Total de escolas com creche                                                                                             1772 non-null   object
 10  Escolas que não funcionam em prédio escolar                                                                             415 non-null    object
 11  Escolas que funcionam em prédio escolar                                                                                 1794 non-null   float64
 12  Total de escolas que não funcionam em unidade de atendimento socio educativo                                            1794 non-null   float64
 13  Total de escolas que funcionam em unidade de atendimento socio educativo                                                20 non-null     object
 14  Total de escolas que não funcionam em unidade prisional                                                                 1794 non-null   float64
 15  Total de escolas que funcionam em unidade prisional                                                                     77 non-null     object
 16  Total de escolas que não funcionam em galpão / rancho / paiol / barracão                                                1794 non-null   float64
 17  Total de escolas que funcionam em galpão / rancho / paiol / barracão                                                    270 non-null    object
 18  Total de escolas que não funcionam em salas de outra escola                                                             1794 non-null   float64
 19  Total de escolas que funcionam em salas de outra escola                                                                 975 non-null    object
 20  Total de escolas que não funcionam em outros locais                                                                     1794 non-null   float64
 21  Total de escolas que funcionam em outros locais                                                                         1210 non-null   object
 22  Total de escolas que não tem abastecimento de água da rede pública                                                      1621 non-null   object
 23  Total de escolas que tem abastecimento de água da rede pública                                                          1779 non-null   object
 24  Total de escolas que não não possuem abastecimento de água                                                              1794 non-null   float64
 25  Total de escolas que não possuem abastecimento de água                                                                  414 non-null    object
 26  Total de escolas que não possuem energia elétrica da rede pública                                                       240 non-null    object
 27  Total de escolas que possuem energia elétrica da rede pública                                                           1794 non-null   float64
 28  Total de escolas que não não possuem energia elétrica                                                                   1794 non-null   float64
 29  Total de escolas que não possuem energia elétrica                                                                       162 non-null    object
 30  Total de matrículas                                                                                                     1794 non-null   float64
 31  Total de docentes                                                                                                       1794 non-null   float64
 32  Total de docentes em Creche                                                                                             1770 non-null   object
 33  Total de docentes em Pré-escola                                                                                         1794 non-null   float64
 34  Total de docentes em 1ª Série                                                                                           0 non-null      float64
 35  Total de docentes em 2ª Série                                                                                           0 non-null      float64
 36  Total de docentes em 3ª Série                                                                                           0 non-null      float64
 37  Total de docentes em 4ª Série                                                                                           0 non-null      float64
 38  Total de docentes em 5ª Série                                                                                           0 non-null      float64
 39  Total de docentes em 6ª Série                                                                                           0 non-null      float64
 40  Total de docentes em 7ª Série                                                                                           0 non-null      float64
 41  Total de docentes em 8ª Série                                                                                           0 non-null      float64
 42  Total de docentes em 1º Ano                                                                                             1794 non-null   float64
 43  Total de docentes em 2º Ano                                                                                             1793 non-null   object
 44  Total de docentes em 3º Ano                                                                                             1794 non-null   float64
 45  Total de docentes em 4º Ano                                                                                             1794 non-null   float64
 46  Total de docentes em 5º Ano                                                                                             1794 non-null   float64
 47  Total de docentes em 6º Ano                                                                                             1793 non-null   object
 48  Total de docentes em 7º Ano                                                                                             1793 non-null   object
 49  Total de docentes em 8º Ano                                                                                             1793 non-null   object
 50  Total de docentes em 9º Ano                                                                                             1794 non-null   float64
 51  Total de docentes em 1º ano/1ª Série                                                                                    1784 non-null   object
 52  Total de docentes em 2º ano/2ª Série                                                                                    1786 non-null   object
 53  Total de docentes em 3ºano/3ª Série                                                                                     1787 non-null   object
 54  Total de docentes em 4º ano/4ª Série                                                                                    3 non-null      object
 55  Total de docentes em Nao Seriada                                                                                        88 non-null     object
 56  Total de docentes em Curso Técnico Integrado (Ensino Médio Integrado) 1ª Série                                          528 non-null    object
 57  Total de docentes em Curso Técnico Integrado (Ensino Médio Integrado) 2ª Série                                          480 non-null    object
 58  Total de docentes em Curso Técnico Integrado (Ensino Médio Integrado) 3ª Série                                          439 non-null    object
 59  Total de docentes em Curso Técnico Integrado (Ensino Médio Integrado) 4ª Série                                          142 non-null    object
 60  Total de docentes em Curso Técnico Integrado (Ensino Médio Integrado) Nao Seriada                                       20 non-null     object
 61  Total de docentes em Modalidade Normal/Magistério 1ª Série                                                              25 non-null     object
 62  Total de docentes em Modalidade Normal/Magistério 2ª Série                                                              29 non-null     object
 63  Total de docentes em Modalidade Normal/Magistério 3ª Série                                                              42 non-null     object
 64  Total de docentes em Modalidade Normal/Magistério 4ª Série                                                              44 non-null     object
 65  Total de docentes em Concomitante                                                                                       294 non-null    object
 66  Total de docentes em Subsequente                                                                                        349 non-null    object
 67  Total de docentes em Ensino Fundamental - Projovem Urbano                                                               0 non-null      float64
 68  Total de docentes em Nível Médio                                                                                        48 non-null     object
 69  Total de docentes em Curso FIC Concomitante                                                                             52 non-null     object
 70  Total de docentes em Ensino Fundamental - Anos Iniciais                                                                 1438 non-null   object
 71  Total de docentes em Ensino Fundamental - Anos Finais                                                                   1682 non-null   object
 72  Total de docentes em Ensino Médio                                                                                       1477 non-null   object
 73  Total de docentes em Nível Fundamental (EJA integrada à Educação Profissional de Nível Fundamental)                     25 non-null     object
 74  Total de docentes em Curso Técnico Integrado na Modalidade EJA (EJA integrada à Educação Profissional de Nível Médio)   173 non-null    object
 75  Total de docentes em Nao aplicável para turmas de atendimento educacional especializado (AEE) e atividade complementar  0 non-null      float64
dtypes: float64(29), object(47)
memory usage: 1.0+ MB

In [85]:
edu_2019_nordeste = edu_2019[edu_2019["COD UF"].isin(codigos_ne)]
edu_2020_nordeste = edu_2020[edu_2020["COD UF"].isin(codigos_ne)]

In [86]:
edu_2019_nordeste["Total de escolas estaduais"] = edu_2019_nordeste["Total de escolas estaduais"].str.replace(",", ".")
edu_2019_nordeste["Total de escolas municipais"] = edu_2019_nordeste["Total de escolas municipais"].str.replace(",", ".")


edu_2020_nordeste["Total de escolas estaduais"] = edu_2020_nordeste["Total de escolas estaduais"].str.replace(",", ".")
edu_2020_nordeste["Total de escolas municipais"] = edu_2020_nordeste["Total de escolas municipais"].str.replace(",", ".")

C:\Users\caios\AppData\Local\Temp\ipykernel_25644\3575012743.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  edu_2019_nordeste["Total de escolas estaduais"] = edu_2019_nordeste["Total de escolas estaduais"].str.replace(",", ".")
C:\Users\caios\AppData\Local\Temp\ipykernel_25644\3575012743.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  edu_2019_nordeste["Total de escolas municipais"] = edu_2019_nordeste["Total de escolas municipais"].str.replace(",", ".")
C:\Users\caios\AppData\Local\Temp\ipykernel_25644\3575012743.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  edu_2020_nordeste["Total de escolas estaduais"] = edu_2020_nordeste["Total de escolas estaduais"].str.replace(",", ".")
C:\Users\caios\AppData\Local\Temp\ipykernel_25644\3575012743.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  edu_2020_nordeste["Total de escolas municipais"] = edu_2020_nordeste["Total de escolas municipais"].str.replace(",", ".")

In [87]:
edu_2020_nordeste[[ 
                "Total de escolas estaduais", 
                "Total de escolas municipais"]] = edu_2020_nordeste[[ 
                                                                    "Total de escolas estaduais", 
                                                                    "Total de escolas municipais"]].astype('float').astype('Int64')

edu_2019_nordeste[[ 
                    "Total de escolas estaduais", 
                    "Total de escolas municipais"]] = edu_2019_nordeste[[ 
                                                                        "Total de escolas estaduais", 
                                                                        "Total de escolas municipais"]].astype('float').astype('Int64')

C:\Users\caios\AppData\Local\Temp\ipykernel_25644\3912500532.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  edu_2020_nordeste[[
C:\Users\caios\AppData\Local\Temp\ipykernel_25644\3912500532.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  edu_2019_nordeste[[

In [91]:
imputer = SimpleImputer(strategy="mean")
dados_imputados = imputer.fit_transform(edu_2020_nordeste[[ 
                                                           "Total de escolas estaduais", 
                                                           "Total de escolas municipais"]])

edu_2020_nordeste[["Total de escolas estaduais", "Total de escolas municipais"]] = dados_imputados.round()

C:\Users\caios\AppData\Local\Temp\ipykernel_25644\989040516.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  edu_2020_nordeste[["Total de escolas estaduais", "Total de escolas municipais"]] = dados_imputados.round()

In [92]:
dados_2019_imputados = imputer.fit_transform(edu_2019_nordeste[[
                                                                "Total de escolas estaduais", 
                                                                "Total de escolas municipais"]])

edu_2019_nordeste[["Total de escolas estaduais", "Total de escolas municipais"]] = dados_2019_imputados.round()

C:\Users\caios\AppData\Local\Temp\ipykernel_25644\3213748267.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  edu_2019_nordeste[["Total de escolas estaduais", "Total de escolas municipais"]] = dados_2019_imputados.round()

##### 2.7.1) Número de escolas/habitante

In [95]:
edu_2019_nordeste["Total_escolas_publicas"] = edu_2019_nordeste['Total de escolas estaduais'] +  edu_2019_nordeste['Total de escolas municipais']
edu_2020_nordeste["Total_escolas_publicas"] = edu_2020_nordeste['Total de escolas estaduais'] +  edu_2020_nordeste['Total de escolas municipais']

C:\Users\caios\AppData\Local\Temp\ipykernel_25644\749620429.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  edu_2019_nordeste["Total_escolas_publicas"] = edu_2019_nordeste['Total de escolas estaduais'] +  edu_2019_nordeste['Total de escolas municipais']
C:\Users\caios\AppData\Local\Temp\ipykernel_25644\749620429.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  edu_2020_nordeste["Total_escolas_publicas"] = edu_2020_nordeste['Total de escolas estaduais'] +  edu_2020_nordeste['Total de escolas municipais']

In [96]:
edu_2019_nordeste["Total_escolas_publicas"]

0       289.0
1       108.0
2        65.0
3        88.0
4        74.0
        ...
1789     60.0
1790     58.0
1791     46.0
1792     45.0
1793     42.0
Name: Total_escolas_publicas, Length: 1794, dtype: float64

##### 2.7.2) Número de matrículas por população jovem:

In [98]:
edu_2019_nordeste["Total de matrículas"]

0