In [42]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler, RobustScaler, OneHotEncoder

# Classificadores:
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.linear_model import LogisticRegression

# Regressores:
from sklearn.linear_model import Lasso, Ridge, LinearRegression

## 1) Loading Data

In [43]:
df_meteorologia = pd.read_csv("..\Dados\Views\dados_meteorologicos.csv", index_col=0)
df_produto_agricola = pd.read_csv(R"..\Dados\Tabela_final\dados_producao_agricola.csv", index_col=0)
df_municipios_sertao = pd.read_csv(r"..\Dados\Views\municipios_sertao.csv", index_col=0)
df_transporte = pd.read_csv(r"..\Dados\Views\custo_de_transporte.csv", index_col=0)
df_recursos_hidricos = pd.read_csv(r"..\Dados\Views\recursos_hidricos.csv", index_col=0)

In [44]:
df_classificador = df_meteorologia.copy()

In [45]:
df_classificador.head()

     IBGE7    PREC_MED      RED_MED   TEMP_MED   VEL_MED
0  2700300  988.689803  1051.169614  26.157050  1.553386
1  2700706  713.023256  1318.900553  27.754333  1.427155
2  2700904  713.023256  1318.900553  27.754333  1.427155
3  2701209  209.280265  1585.450518  26.482644  1.062182
4  2701605  551.553841  1437.777193  27.047011  2.518969

In [46]:
# Merges:
df_classificador = df_classificador.merge(df_transporte, on="IBGE7", how="left")
df_classificador = df_classificador.merge(df_municipios_sertao[["IBGE7", "LATITUDE", "LONGITUDE"]], on="IBGE7", how="left")
df_classificador = df_classificador.merge(df_recursos_hidricos[["IBGE7", "AREA_IRRIGADA_TOT"]], on="IBGE7", how="left")

In [47]:
df_classificador

        IBGE7     PREC_MED      RED_MED  ...  LATITUDE  LONGITUDE  AREA_IRRIGADA_TOT
0     2700300   988.689803  1051.169614  ...  -9.75487   -36.6615         327.176525
1     2700706   713.023256  1318.900553  ...  -9.67420   -37.1330           0.000000
2     2700904   713.023256  1318.900553  ...  -9.82272   -37.2770           0.000000
3     2701209   209.280265  1585.450518  ...  -9.40121   -36.9911           0.000000
4     2701605   551.553841  1437.777193  ...  -9.11932   -37.5967           0.000000
...       ...          ...          ...  ...       ...        ...                ...
1256  2806008   362.694737  1146.244737  ... -10.53570   -37.4380           0.000000
1257  2807006   388.322078  1739.639845  ... -10.38470   -37.3836           0.000000
1258  2807105   162.378722  1370.066485  ... -10.73870   -37.8097          34.223210
1259  2807303  1517.640390  1621.663140  ... -10.20640   -36.8818         353.237872
1260  2807402   920.296117  1180.190480  ... -11.17980   -37.9995           0.000000

[1261 rows x 9 columns]