# 1) Imports

In [11]:
import pandas as pd
import numpy as np
import unidecode
import re
import pandas as pd
from geopy.distance import great_circle

# 2) Coleta dos dados

In [61]:
top_muns = pd.read_csv("../Dados/Tabela_final/municipios_potenciais.csv").drop(columns=['Unnamed: 0'])
mun_ser = pd.read_csv('../Dados/Views/municipios_sertao.csv').drop(columns = 'Unnamed: 0')
agro = pd.read_csv("../Dados/Tabela_final/dados_producao_agricola.csv").drop(columns=['Unnamed: 0'])
solos = pd.read_csv("../Dados/Views/solos_municipios.csv").drop(columns=['Unnamed: 0'])
solos = mun_ser.drop(columns=['LATITUDE', 'LONGITUDE']).merge(solos, on = 'IBGE7').drop(columns=['IBGE7', 'UF'])

# 3) Análise dos dados

### 3.1) Identificando os municípios mais próximos dos municípios potenciais

In [41]:
resultado = {}

for _, row_top in top_muns.iterrows():
    municipio_interesse = row_top['NOME']  
    coordenadas_interesse = (row_top['LATITUDE'], row_top['LONGITUDE'])

    municipios_proximos = {}

    for _, row_ser in mun_ser.iterrows():
        coordenadas_ser = (row_ser['LATITUDE'], row_ser['LONGITUDE'])

        distancia = great_circle(coordenadas_interesse, coordenadas_ser).kilometers

        if distancia <= 50:
            municipios_proximos[row_ser['NOME']] = round(distancia,2)

    resultado[municipio_interesse] = municipios_proximos

resultado

{'MATA GRANDE': {'CANAPI': 14.89,
  'DELMIRO GOUVEIA': 41.68,
  'INHAPI': 12.15,
  'MARAVILHA': 43.53,
  'MATA GRANDE': 0.0,
  "OLHO D'ÁGUA DO CASADO": 44.17,
  'OURO BRANCO': 41.6,
  'PARICONHA': 33.04,
  'SENADOR RUI PALMEIRA': 49.37,
  'INAJÁ': 26.56,
  'ITAÍBA': 39.56,
  'MANARI': 20.34,
  'TACARATU': 45.96},
 'MONTE SANTO': {'CANSANÇÃO': 30.88,
  'EUCLIDES DA CUNHA': 35.51,
  'MONTE SANTO': 0.0,
  'NORDESTINA': 43.77,
  'QUIJINGUE': 37.14},
 'ITAÍBA': {'CANAPI': 27.58,
  'INHAPI': 48.09,
  'MARAVILHA': 32.46,
  'MATA GRANDE': 39.56,
  'OURO BRANCO': 24.65,
  'POÇO DAS TRINCHEIRAS': 42.62,
  'ÁGUAS BELAS': 37.23,
  'BUÍQUE': 45.95,
  'INAJÁ': 46.15,
  'ITAÍBA': 0.0,
  'MANARI': 23.6,
  'TUPANATINGA': 23.39},
 'TUPANATINGA': {'CANAPI': 49.72,
  'OURO BRANCO': 45.7,
  'ÁGUAS BELAS': 47.18,
  'ARCOVERDE': 48.62,
  'BUÍQUE': 24.75,
  'IBIMIRIM': 45.7,
  'ITAÍBA': 23.39,
  'MANARI': 39.68,
  'TUPANATINGA': 0.0},
 'CAETÉS': {'ALAGOINHA': 38.69,
  'ANGELIM': 38.75,
  'BOM CONSELHO': 43.72,
  'BREJÃO': 28.47,
  'CAETÉS': 0.0,
  'CALÇADO': 32.36,
  'CANHOTINHO': 48.33,
  'CAPOEIRAS': 5.14,
  'GARANHUNS': 18.27,
  'IATI': 38.34,
  'JUCATI': 17.65,
  'JUPI': 24.84,
  'LAGOA DO OURO': 42.63,
  'LAJEDO': 35.42,
  'PALMEIRINA': 41.98,
  'PARANATAMA': 15.7,
  'PEDRA': 46.71,
  'PESQUEIRA': 47.61,
  'SALOÁ': 22.48,
  'SANHARÓ': 47.05,
  'SÃO BENTO DO UNA': 34.5,
  'SÃO JOÃO': 30.63,
  'TEREZINHA': 30.68,
  'VENTUROSA': 35.23},
 'CRAÍBAS': {'ARAPIRACA': 19.31,
  'BATALHA': 40.32,
  'CACIMBINHAS': 34.2,
  'COITÉ DO NÓIA': 20.38,
  'CRAÍBAS': 0.0,
  'DOIS RIACHOS': 44.23,
  'ESTRELA DE ALAGOAS': 25.24,
  'GIRAU DO PONCIANO': 30.37,
  'IGACI': 17.04,
  'JACARÉ DOS HOMENS': 48.05,
  'JARAMATAIA': 26.22,
  'LAGOA DA CANOA': 24.12,
  'MAJOR ISIDORO': 26.25,
  'MINADOR DO NEGRÃO': 35.69,
  'OLIVENÇA': 47.94,
  'PALMEIRA DOS ÍNDIOS': 27.96,
  'QUEBRANGULO': 46.72,
  'TRAIPU': 46.33},
 'ÁGUAS BELAS': {'CACIMBINHAS': 35.32,
  'DOIS RIACHOS': 30.54,
  'MAJOR ISIDORO': 48.73,
  'MARAVILHA': 28.5,
  'MINADOR DO NEGRÃO': 35.65,
  'OLIVENÇA': 46.1,
  'OURO BRANCO': 26.12,
  'POÇO DAS TRINCHEIRAS': 28.44,
  'SANTANA DO IPANEMA': 31.89,
  'ÁGUAS BELAS': 0.0,
  'BOM CONSELHO': 48.4,
  'IATI': 30.83,
  'ITAÍBA': 37.23,
  'SALOÁ': 49.85,
  'TUPANATINGA': 47.18},
 'TRAIPU': {'ARAPIRACA': 44.35,
  'BATALHA': 34.91,
  'BELO MONTE': 33.41,
  'CRAÍBAS': 46.33,
  'GIRAU DO PONCIANO': 21.12,
  'JACARÉ DOS HOMENS': 42.5,
  'JARAMATAIA': 33.4,
  'LAGOA DA CANOA': 32.49,
  'MAJOR ISIDORO': 48.12,
  'MONTEIRÓPOLIS': 48.01,
  'PALESTINA': 48.43,
  'TRAIPU': 0.0,
  'AMPARO DE SÃO FRANCISCO': 20.71,
  'AQUIDABÃ': 35.08,
  'CANHOBA': 19.55,
  'CEDRO DE SÃO JOÃO': 34.96,
  'CUMBE': 47.46,
  'FEIRA NOVA': 47.32,
  'GARARU': 8.8,
  'GRACHO CARDOSO': 36.07,
  'ITABI': 21.01,
  'NOSSA SENHORA DE LOURDES': 14.06,
  'PORTO DA FOLHA': 30.78,
  'PROPRIÁ': 33.14,
  'TELHA': 30.38},
 'ARACI': {'ARACI': 0.0,
  'BARROCAS': 25.94,
  'BIRITINGA': 35.52,
  'CONCEIÇÃO DO COITÉ': 43.77,
  'SANTALUZ': 46.18,
  'SÁTIRO DIAS': 49.64,
  'SERRINHA': 37.46,
  'TEOFILÂNDIA': 17.87,
  'TUCANO': 44.77},
 'GIRAU DO PONCIANO': {'ARAPIRACA': 23.53,
  'BATALHA': 40.44,
  'BELO MONTE': 49.27,
  'COITÉ DO NÓIA': 38.85,
  'CRAÍBAS': 30.37,
  'GIRAU DO PONCIANO': 0.0,
  'IGACI': 44.01,
  'JACARÉ DOS HOMENS': 49.62,
  'JARAMATAIA': 31.11,
  'LAGOA DA CANOA': 11.41,
  'MAJOR ISIDORO': 43.11,
  'TRAIPU': 21.12,
  'AMPARO DE SÃO FRANCISCO': 30.09,
  'AQUIDABÃ': 48.18,
  'CANHOBA': 32.47,
  'CEDRO DE SÃO JOÃO': 41.49,
  'GARARU': 29.63,
  'ITABI': 40.21,
  'NOSSA SENHORA DE LOURDES': 33.09,
  'PORTO DA FOLHA': 49.71,
  'PROPRIÁ': 36.69,
  'TELHA': 36.26},
 'IGACI': {'ARAPIRACA': 24.3,
  'CACIMBINHAS': 41.68,
  'COITÉ DO NÓIA': 12.12,
  'CRAÍBAS': 17.04,
  'ESTRELA DE ALAGOAS': 21.47,
  'GIRAU DO PONCIANO': 44.01,
  'IGACI': 0.0,
  'JARAMATAIA': 42.6,
  'LAGOA DA CANOA': 34.75,
  'MAJOR ISIDORO': 38.92,
  'MINADOR DO NEGRÃO': 35.74,
  'PALMEIRA DOS ÍNDIOS': 14.69,
  'QUEBRANGULO': 30.42,
  'BOM CONSELHO': 41.32,
  'LAGOA DO OURO': 49.84},
 'RAFAEL JAMBEIRO': {'ANGUERA': 39.93,
  'ANTÔNIO CARDOSO': 41.72,
  'CABACEIRAS DO PARAGUAÇU': 36.52,
  'CASTRO ALVES': 40.06,
  'IPECAETÁ': 23.94,
  'IPIRÁ': 37.69,
  'ITATIM': 39.91,
  'RAFAEL JAMBEIRO': 0.0,
  'SANTA TEREZINHA': 40.58,
  'SANTO ESTÊVÃO': 27.29,
  'SERRA PRETA': 33.32},
 'PARIPIRANGA': {'ADUSTINA': 31.45,
  'CORONEL JOÃO SÁ': 45.05,
  'FÁTIMA': 40.24,
  'HELIÓPOLIS': 46.78,
  'PARIPIRANGA': 0.0,
  'CARIRA': 41.11,
  'FREI PAULO': 39.52,
  'MACAMBIRA': 35.21,
  'PEDRA MOLE': 20.29,
  'PINHÃO': 20.04,
  'POÇO VERDE': 34.97,
  'RIBEIRÓPOLIS': 49.32,
  'SIMÃO DIAS': 8.24},
 'SANTANA DO IPANEMA': {'BATALHA': 36.1,
  'CACIMBINHAS': 28.4,
  'CANAPI': 47.34,
  'CARNEIROS': 19.08,
  'DOIS RIACHOS': 16.7,
  'JACARÉ DOS HOMENS': 29.85,
  'JARAMATAIA': 42.05,
  'MAJOR ISIDORO': 33.25,
  'MARAVILHA': 19.29,
  'MINADOR DO NEGRÃO': 42.01,
  'MONTEIRÓPOLIS': 25.97,
  "OLHO D'ÁGUA DAS FLORES": 19.32,
  'OLIVENÇA': 17.6,
  'OURO BRANCO': 26.28,
  'PALESTINA': 35.35,
  'PÃO DE AÇÚCAR': 46.26,
  'POÇO DAS TRINCHEIRAS': 8.28,
  'SANTANA DO IPANEMA': 0.0,
  'SÃO JOSÉ DA TAPERA': 25.6,
  'SENADOR RUI PALMEIRA': 25.53,
  'ÁGUAS BELAS': 31.89},
 'BOQUIRA': {'BOQUIRA': 0.0, 'IBIPITANGA': 27.57, 'MACAÚBAS': 22.41}}

### 3.2) Identificando as atividades agrícolas mais exploradas em um raio de 50km do município de interesse

In [63]:
def atividades_agricolas():
    muns_prox = list(resultado['MONTE SANTO'].keys())
    atv_agr_prox = agro[agro['MUNICIPIO'].isin(muns_prox)]
    atv_agr_prox = atv_agr_prox[['PRODUTO', 'AREA_PLANTADA', 'VALOR_PROD']].groupby('PRODUTO').sum().reset_index()
    atv_agr_prox['REND_AREA'] = atv_agr_prox['VALOR_PROD']/atv_agr_prox['AREA_PLANTADA']
    print('Total')
    display(atv_agr_prox)
    
    for mun in resultado['MONTE SANTO']:
        atv_agr_prox = agro[agro['MUNICIPIO']==mun]
        atv_agr_prox = atv_agr_prox[['PRODUTO', 'AREA_PLANTADA', 'VALOR_PROD']].groupby('PRODUTO').sum().reset_index()
        atv_agr_prox['REND_AREA'] = atv_agr_prox['VALOR_PROD']/atv_agr_prox['AREA_PLANTADA']
        
        solos_prox = solos[solos['NOME']==mun].drop(columns=['NOME'])
        
        if atv_agr_prox.shape[0] == 0:
            pass
        else:
            print(mun)
            display(atv_agr_prox)
            display(solos_prox)
        
    
atividades_agricolas()

Total

            PRODUTO  AREA_PLANTADA    VALOR_PROD  REND_AREA
0       BATATA-DOCE       3.333333     41.666667  12.500000
1  CASTANHA DE CAJU    1054.333333    756.000000   0.717041
2  FEIJAO (EM GRAO)   40588.333333  70331.666667   1.732805
3          MANDIOCA    3591.666667  20512.666667   5.711183
4   MILHO (EM GRAO)   42333.333333  96231.000000   2.273173

EUCLIDES DA CUNHA

            PRODUTO  AREA_PLANTADA    VALOR_PROD  REND_AREA
0       BATATA-DOCE       3.333333     41.666667  12.500000
1  CASTANHA DE CAJU    1000.000000    710.666667   0.710667
2  FEIJAO (EM GRAO)   20066.666667  56344.000000   2.807841
3          MANDIOCA    3000.000000  15999.333333   5.333111
4   MILHO (EM GRAO)   14000.000000  52795.666667   3.771119

                                                SOLO  AREA_TOTAL
331        CXve - Cambissolos Haplicos Ta Eutroficos    0.000004
332  PVAd - Argissolos Vermelho-Amarelos Distroficos    0.000004
333            RLd - Neossolos Litolicos Distroficos    0.000002
334           RQo - Neossolos Quartzarenicos Orticos    0.000001
335            SXe - Planossolos Haplicos Eutroficos    0.000005

MONTE SANTO

            PRODUTO  AREA_PLANTADA    VALOR_PROD  REND_AREA
0  CASTANHA DE CAJU       5.000000      4.000000   0.800000
1  FEIJAO (EM GRAO)    9016.666667   8225.333333   0.912237
2          MANDIOCA     205.000000   1577.666667   7.695935
3   MILHO (EM GRAO)    9000.000000  34171.666667   3.796852

                                       SOLO  AREA_TOTAL
586  RRe - Neossolos Regoliticos Eutroficos    0.000008
587   SXe - Planossolos Haplicos Eutroficos    0.000019

NORDESTINA

            PRODUTO  AREA_PLANTADA   VALOR_PROD  REND_AREA
0  FEIJAO (EM GRAO)    1833.333333    68.000000   0.037091
1          MANDIOCA      96.666667   130.666667   1.351724
2   MILHO (EM GRAO)    2166.666667  1571.333333   0.725231

                                       SOLO    AREA_TOTAL
614  RRe - Neossolos Regoliticos Eutroficos  4.786441e-07
615   SXe - Planossolos Haplicos Eutroficos  3.197732e-06

QUIJINGUE

            PRODUTO  AREA_PLANTADA   VALOR_PROD  REND_AREA
0  CASTANHA DE CAJU      49.333333    41.333333   0.837838
1  FEIJAO (EM GRAO)    9671.666667  5694.333333   0.588764
2          MANDIOCA     290.000000  2805.000000   9.672414
3   MILHO (EM GRAO)   17166.666667  7692.333333   0.448097

                                          SOLO    AREA_TOTAL
706  CXve - Cambissolos Haplicos Ta Eutroficos  5.840551e-07
707      LAd - Latossolos Amarelos Distroficos  8.201368e-08
708     RQo - Neossolos Quartzarenicos Orticos  2.272674e-06
709      SXe - Planossolos Haplicos Eutroficos  8.240256e-06

In [49]:
for mun in resultado['MONTE SANTO']:
    print(mun)

CANSANÇÃO
EUCLIDES DA CUNHA
MONTE SANTO
NORDESTINA
QUIJINGUE

### 3.2) Identificando as atividades agrícolas mais exploradas nos municípios de interesse

In [43]:
atv_agr_mun = agro[agro['MUNICIPIO']=='MONTE SANTO']
atv_agr_mun = atv_agr_mun[['PRODUTO', 'AREA_PLANTADA', 'VALOR_PROD']].groupby('PRODUTO').sum().reset_index()
atv_agr_mun['REND_AREA'] = atv_agr_mun['VALOR_PROD']/atv_agr_mun['AREA_PLANTADA']
atv_agr_mun

            PRODUTO  AREA_PLANTADA    VALOR_PROD  REND_AREA
0  CASTANHA DE CAJU       5.000000      4.000000   0.800000
1  FEIJAO (EM GRAO)    9016.666667   8225.333333   0.912237
2          MANDIOCA     205.000000   1577.666667   7.695935
3   MILHO (EM GRAO)    9000.000000  34171.666667   3.796852

### 3.2) Identificando as atividades agrícolas mais exploradas nos municípios de interesse

In [37]:
top_muns.columns

Index(['IBGE7', 'UF', 'NOME', 'LATITUDE', 'LONGITUDE', 'DIST_EF_PUB',
       'DIST_EM_PUB', 'IDEB_AI', 'IDEB_AF', 'DOCSUP_EF_PUB', 'DOCSUP_EM_PUB',
       'TXNASC7C', 'TXNBAIXOP', 'PINTERSAP', 'PINTERDRSAI', 'REN_PIBPC_D',
       'PDEFAGUA', 'PDEFESGOTO', 'PANALF15', 'PIND_POS', 'SNIS_PAGUA',
       'POP_TOT', 'POP_TOT_30KM', 'PREC_MED', 'TEMP_MED', 'AREA_IRRIGADA_TOT',
       'AREA_IRRIGADA_POT', 'AREA_IRRIGADA_POT_E', 'IDHM', 'T_BANAGUA',
       'T_DENS', 'T_LIXO', 'T_LUZ', 'AGUA_ESGOTO', 'PAREDE', 'PIND', 'PINDCRI',
       'T_DES18M', 'T_FBBAS', 'T_FBFUND', 'T_FBMED', 'T_FBPRE', 'T_FBSUPER',
       'T_ATRASO_1_BASICO', 'T_ATRASO_1_FUND', 'T_ATRASO_1_MED',
       'T_ATRASO_2_BASICO', 'T_ATRASO_2_FUND', 'T_ATRASO_2_MED',
       'T_ANALF11A14', 'T_ANALF15A17', 'T_ANALF15M', 'T_ANALF18A24',
       'T_ANALF18M', 'T_ANALF25A29', 'T_ANALF25M', 'QUAL_MED_AGUA',
       'DIST_CORPO_AGUA', 'TRANSPORT_COST', 'CLUSTER'],
      dtype='object')

In [60]:
solos

,IBGE7,UF,NOME,SOLO,AREA_TOTAL
0,2700300,AL,ARAPIRACA,LAd - Latossolos Amarelos Distroficos,2.839314e-06
1,2700300,AL,ARAPIRACA,SXe - Planossolos Haplicos Eutroficos,1.624658e-10
2,2700706,AL,BATALHA,RLe - Neossolos Litolicos Eutroficos,2.151781e-06
3,2700706,AL,BATALHA,SXe - Planossolos Haplicos Eutroficos,4.793818e-07
4,2700904,AL,BELO MONTE,AGUA,1.295194e-07
...,...,...,...,...,...
3396,2807303,SE,TELHA,RLe - Neossolos Litolicos Eutroficos,2.015264e-07
3397,2807402,SE,TOBIAS BARRETO,PVAd - Argissolos Vermelho-Amarelos Distroficos,3.670117e-10
3398,2807402,SE,TOBIAS BARRETO,RLe - Neossolos Litolicos Eutroficos,1.045330e-06
3399,2807402,SE,TOBIAS BARRETO,RQo - Neossolos Quartzarenicos Orticos,3.929380e-07
3400,2807402,SE,TOBIAS BARRETO,SNo - Planossolos Natricos Orticos,6.993013e-06

In [64]:
solos

,NOME,SOLO,AREA_TOTAL
0,ARAPIRACA,LAd - Latossolos Amarelos Distroficos,2.839314e-06
1,ARAPIRACA,SXe - Planossolos Haplicos Eutroficos,1.624658e-10
2,BATALHA,RLe - Neossolos Litolicos Eutroficos,2.151781e-06
3,BATALHA,SXe - Planossolos Haplicos Eutroficos,4.793818e-07
4,BELO MONTE,AGUA,1.295194e-07
...,...,...,...
3396,TELHA,RLe - Neossolos Litolicos Eutroficos,2.015264e-07
3397,TOBIAS BARRETO,PVAd - Argissolos Vermelho-Amarelos Distroficos,3.670117e-10
3398,TOBIAS BARRETO,RLe - Neossolos Litolicos Eutroficos,1.045330e-06
3399,TOBIAS BARRETO,RQo - Neossolos Quartzarenicos Orticos,3.929380e-07
3400,TOBIAS BARRETO,SNo - Planossolos Natricos Orticos,6.993013e-06